[2015-11-10 22:38] seanpdoyle commented on #255
@rlpacht that looks like you're running an older version of `ember-cli-rails`.

The Heroku generator was introduced in [0.4.0](https://github.com/thoughtbot/ember-cli-rails/blob/master/CHANGELOG.md#040).

I suggest updating `ember-cli-rails` to `0.4.3` and trying again.

[2015-11-10 22:38] seanpdoyle commented on #255
I'm closing this. Please feel free to comment back about your results.

If you're still having issues I'll gladly reopen.

[2015-11-10 22:38] #255 closed

[2015-11-12 01:03] seanpdoyle commented on #200
@imackinn this should have been resolved by https://github.com/thoughtbot/ember-cli-rails/commit/bb4b03c58e4387a7914b3b509d689b07f8a9c923.

Could you try `master`:

[code]

[2015-11-12 01:03] seanpdoyle commented on #200
Closing this issue.

If you're able to reproduce with `master`, please ping me here and I'll re-open.

[2015-11-12 01:03] #200 closed

[2015-11-12 01:04] seanpdoyle commented on #212
@jgadbois Has there been any movement on reproducing this in a simple example repo?

[2015-11-12 01:13] seanpdoyle commented on #200
@imackinn on further thought, this will take more than just the `master` branch of the gem.

Please read and follow https://github.com/thoughtbot/ember-cli-rails/issues/30#issuecomment-154768936, posting back here with your results

[2015-11-12 01:13] seanpdoyle commented on #190
@joshpfosi @clov3rly could you both please try following the instructions here: https://github.com/thoughtbot/ember-cli-rails/issues/30#issuecomment-154768936

posting back in this issue with your results?

[2015-11-12 01:14] seanpdoyle commented on #190
I think https://github.com/thoughtbot/ember-cli-rails/issues/30#issuecomment-154768936 should resolve the errors described in this issue.

If you try that approach and run into trouble, please post here and I'll reopen.

[2015-11-12 01:14] #190 closed

[2015-11-12 13:40] jgadbois commented on #212
@seanpdoyle added some code to reproduce but when running specs I get

[code]

I don't actually see a dummy ember-cli app.

[2015-11-12 13:52] seanpdoyle commented on #212
@jgadbois if you've cloned the repo, be sure to run `bin/setup`.

It'll download https://github.com/kellyselden/ember-cli-output into `spec/dummy/my-app`.

[2015-11-12 14:09] seanpdoyle commented on #212
@jgadbois https://github.com/thoughtbot/ember-cli-rails/blob/master/CONTRIBUTING.md#setup

[2015-11-12 14:40] jgadbois commented on #212
@seanpdoyle I attempted to reproduce the settings in my application as close as I could remember but it is still working for me.

https://github.com/thoughtbot/ember-cli-rails/pull/258

@olivierobert any other ideas?

[2015-11-13 20:16] zacstewart opened #262 "Malformed version number string ^1.13.12"
Looks like using `Gem::Version` to match version numbers of Node packages isn't going to work very well. Node uses different version formats than ruby Gems, e.g. carets instead of `~>`

[code]

[2015-11-13 20:19] seanpdoyle commented on #262
@zacstewart thanks for bringing this to our attention.

Unfortunately, you're right, our current approach isn't the best.

Could you elaborate on why you're using `^` instead of `~>`?

As a quick fix, would you be able to peg EmberCLI to a particular version, or change the `^` to `~>`?

[2015-11-14 02:43] #262 closed

[2015-11-14 03:04] zacstewart commented on #262
Thanks for the quick response!

[2015-11-14 03:07] seanpdoyle commented on #262
@zacstewart glad we could help resolve the issue!

Unfortunately, the fix will probably sit in `master` for a few more days.

The next release will be a minor version bump that will introduce some breaking changes (it's all for the best, I promise!).

[2015-11-14 21:02] seanpdoyle commented on #194
@fullofcaffeine Hey there, sorry this sat unanswered for so long.

About three weeks ago (October 23rd, 2015) thoughtbot inherited this repository, and I became a more active maintainer.

In that time, a lot has changed about the project.

We were able to resolve some problems around loading front end assets (an [issue](https://github.com/thoughtbot/ember-cli-rails/issues/30) that stayed open for

[2015-11-14 21:02] #194 closed

[2015-11-15 18:57] dchersey opened #280 "gem version does not match ember-cli addon version?"
Hi, I was going through the instructions in the readme, and it says to

[code]

This is confusing, because the latest version of the gem appears to be 0.4.3 and the latest addon seems to be     "ember-cli-rails-addon": "0.0.13",

Am I missing/misreading something? Will these work together?

[2015-11-15 19:19] seanpdoyle commented on #280
@dchersey you were absolutely correct to expect that a `0.5.x` version of the gem and addon would exist.

Unfortunately, the `0.5.x` version are not yet published.

Expect releases in the next few days.

Very sorry for the confusion, but the README is ambitiously ahead of reality.

[2015-11-15 19:32] seanpdoyle commented on #280
@dchersey scratch all that, I've released them both:

* https://github.com/thoughtbot/ember-cli-rails/commit/1c87745ce02346784b440dcb93401cd14c3fac3e
* https://github.com/rondale-sc/ember-cli-rails-addon/commit/a94f6eaa72a372e1cae40189cd31275fe88ebdd6

[2015-11-15 19:32] #280 closed

[2015-11-15 19:57] dchersey commented on #280
sweet, thanks!

[2015-11-16 17:58] dchersey opened #282 "sprockets error when using ember-cli with rails edge (5 alpha)"
I've been chasing a weird issue, and have isolated it down as follows:

I am running Rails edge and am kicking the tires of action cable using a simple chat app. I want  this to work with ember-cli.  In order to cleanly use action cable, the coffeescript needs to be included using the rails asset pipeline because of some internal linkages provided by the root cable.coffee.erb script.

I am doing t

[2015-11-16 18:11] seanpdoyle commented on #282
Thanks for opening this issue and bringing this to our attention!

It looks like you're pushing the boundaries of whats possible.

Unfortunately, I'm not too confident in action cable and EmberCLI interacting in a predictable way, since they're two wildly different flows happening in Rails-land and Ember-land respectively.

Having said that, you shouldn't be getting a NoMethodError.

It looks like

[2015-11-16 18:59] dchersey commented on #282
Thanks for the quick response!
I removed the action-cable dependency and was able to isolate the problem further to any embedding of sprockets references inside the render_ember_app block (and yes, my app is called :ui in initializers/ember.rb)

[code]

The application.js no longer references anything that is not part of rails:

[code]

I agree it's likely that the asset pipeline no longer support

[2015-11-16 19:14] dchersey commented on #282
Well, tried config.eager_load = true in my development.rb and got another clue when starting the server:

[code]

Any thoughts?

[2015-11-16 19:25] seanpdoyle commented on #282
@dchersey very interesting.

I had a hunch that I'd need to underscore the `ember-cli` directory.

Checkout https://github.com/thoughtbot/ember-cli-rails/pull/283 and try out the `sd-underscore` branch.

[2015-11-16 19:55] dchersey commented on #282
You were right -- that resolved the `eager_load: true` issue!

However eager-loading did not resolve the original problem; it still fails rendering the ember template unless I hit a rails view first :(

I updated my example on github to reflect what I've changed.

[2015-11-16 20:57] seanpdoyle opened #285 "Play nice with new versions of Sprockets"
https://github.com/rails/sprockets-rails/issues/269

New versions of `sprockets-rails` won't support pushing regular expressions onto `Rails.configuration.assets.precompile`.

Before Rails 5 is released, we'll need to either:

* Move off of the Asset Pipeline and serve EmberCLI-generated assets with [Rack::Static](http://www.rubydoc.info/github/rack/rack/Rack/Static)
* Figure out a way to enumerat

[2015-11-17 14:13] jpaas opened #287 "feature request: option to configure ember environment"
Currently it seems that the ember environment is determined based on the RAILS_ENV, or whether the `ember:test` rake task is being run but there doesn't seem to be any way to explicitly take control of it.

In our use case we have a suite of capybara acceptance tests for our ember app, but our ember app needs to be run in the test environment in order to lower some timeout values for testing. But

[2015-11-17 14:19] seanpdoyle commented on #287
@jpaas https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/helpers.rb#L25-L31 determines the current environment.

Does running with `Rails.env == "test"` not execute your Ember test suite in the `test` environment?

[2015-11-17 15:07] jpaas commented on #287
@seanpdoyle I tried setting it up to check the environment, but every time I navigate to where I mount the ember app, it gives a 401 and redirects me to the root path. I suspect its some sort of devise issue. But I'm not sure why devise is getting involved.

[2015-11-17 15:11] seanpdoyle commented on #287
The response has a status of `401` from a Rails route, or is your Ember app configured to error with a `401`?

If the `401` is coming from Rails, this doesn't sound like an `ember-cli-rails` issue.

[2015-11-17 15:13] jpaas commented on #287
The 401 appears to be the response from EmberCli::EmberController#index

[2015-11-17 15:14] seanpdoyle commented on #287
@jpaas ahh I see.

`EmberCli::EmberController` extends from `ApplicationController` (https://github.com/thoughtbot/ember-cli-rails/blob/master/app/controller/ember_cli/ember_controller.rb#L2).

Are you defining auth elsewhere?

[2015-11-17 15:22] jpaas commented on #287
Ah ya and my ApplicationController has
[code]

So I need to find a way to step around it when on the ember app path somehow.

[2015-11-17 15:32] jpaas commented on #287
I just commented it out, so now its trying to serve the ember app, but the directory where its supposed to be in the tmp folder is empty :(

[2015-11-17 16:28] seanpdoyle commented on #287
If you need to do something other than what `EmberCli::EmberController` is doing, you can route the ember request to a controller of your own:

https://github.com/thoughtbot/ember-cli-rails#configuring-the-ember-controller

[2015-11-19 00:53] seanpdoyle commented on #186
@jboler Hey there, sorry this has gone silent.

There's been a lot of movement on this repo recently.

Could you try this again for version [0.5.3](https://rubygems.org/gems/ember-cli-rails/versions/0.5.3)?

[2015-11-19 00:55] seanpdoyle commented on #179
@emeryamiller  Hey there, sorry this has gone silent.

There's been a lot of movement on this repo recently.

Could you try this again for version [0.5.3](https://rubygems.org/gems/ember-cli-rails/versions/0.5.3)?

We hope your upgrade from `ember-cli@0.2.7` went well!

Unfortunately, we're no longer supporting `ember-cli` versions `<= 1.13.x`, so we'll have to close this issue.

[2015-11-19 00:55] #179 closed

[2015-11-19 00:56] seanpdoyle commented on #208
@Leooo  Hey there, sorry this has gone silent.

There's been a lot of movement on this repo recently.

Could you try this again for version [0.5.3](https://rubygems.org/gems/ember-cli-rails/versions/0.5.3)?

[2015-11-19 00:56] seanpdoyle commented on #212
@jgadbois @olivierobert

There's been a lot of movement on this repo recently.

Could you try this again for version [0.5.3](https://rubygems.org/gems/ember-cli-rails/versions/0.5.3)?

[2015-11-19 00:58] seanpdoyle commented on #165
Given the new direction this project has taken in the last month, [we'll be **requiring** the presence of the EmberCLI-generated `index.html`](https://github.com/thoughtbot/ember-cli-rails#configuring-the-ember-controller).

As such, we'll be closing this issue.

There's been a lot of movement on this repo recently.

Could you try out version [0.5.3](https://rubygems.org/gems/ember-cli-rails/versi

[2015-11-19 00:58] #165 closed

[2015-11-19 00:59] seanpdoyle commented on #175
There's been a lot of movement on this repo recently.

Could you try out version [0.5.3](https://rubygems.org/gems/ember-cli-rails/versions/0.5.3) and verify that you're still having the same issues.

[2015-11-19 01:55] seanpdoyle commented on #287
@jpaas have you tried to configure the controller?

Have you been able to make any progress?

[2015-11-19 01:56] seanpdoyle commented on #175
Closing due to the new direction the project has taken:

https://github.com/thoughtbot/ember-cli-rails/issues/165#issuecomment-157912966

Thanks for opening up this issue! Hopefully some of the changes we've been making will help you resolve your issues.

[2015-11-19 01:56] #175 closed

[2015-11-20 02:39] neilthawani commented on #156
I am experiencing this issue currently in /Google Drive/rails_root.

[2015-11-20 15:23] wjdhamilton commented on #114
:+1:  Still have this problem on windows 7 using Rails 4.2.4 and ember-cli-rails 0.5.3 with corresponding ember-cli-rails-addon

[2015-11-20 16:55] #156 closed

[2015-11-20 17:29] seanpdoyle commented on #156
@Gowiem @neilthawani would you mind pulling down the latest

https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.5.4

and trying again?

[2015-11-20 21:13] blmundie commented on #186
From what I can tell while the initial build is happening the link shows up as /javascript/*.js.  Once the build is done it shows up as /assets/*.js

[2015-11-20 21:18] seanpdoyle commented on #186
@jboler @blmundie would either of you be able to share the repositories you're seeing this issue on?

If not, do you think you could distill the problem code into a repository so that I can work on reproducing it?

[2015-11-20 21:32] jboler commented on #186
I will try to create a minimal repo which can reproduce this.

[2015-11-20 21:49] botandrose opened #292 "`include_ember_script_tags` resulting in 404s"
Heya heya, thanks for Ember-CLI-Rails! Really nice to see Thoughtbot putting some manpower into this gem.

Anywho, just upgraded from 0.4.3 to 0.5.4, and `include_ember_script_tags(:exam_builder)` is resulting in 404s:
[code]

I'm running latest everything, except Sprockets `~> 2.0` because of Compass. Any ideas, or should I attempt to chop this down into a minimal repro?

[2015-11-20 21:58] seanpdoyle commented on #292
@botandrose this appears to be the same issue as https://github.com/thoughtbot/ember-cli-rails/issues/186

If you could prove a minimal repo for me to help debug, that would be great.

Before doing so:

* Are you on the latest [ember-cli-rails-addon](https://github.com/rondale-sc/ember-cli-rails-addon/)?
* Are you running on a [multi-threaded server with more than 1 worker](https://github.com/thou

[2015-11-20 22:35] botandrose commented on #292
Can do!

To answer your questions, yes, no, and yes.

[2015-11-21 02:40] botandrose commented on #292
@seanpdoyle Here you go: https://github.com/botandrose/ember_cli_rails_bug_repro

Let me know if there's anything I can do to help!

[2015-11-21 17:46] seanpdoyle commented on #292
@botandrose it looks like some misconfiguration is to blame for your issues:

https://github.com/botandrose/ember_cli_rails_bug_repro/pull/1

It's also worth noting that moving forward, I **strongly** recommend you migrate away from including the script / style tags.

`render_ember_app` (which renders the EmberCLI generated `index.html`) is the future of this project. If you can avoid routing to y

[2015-11-21 17:46] #292 closed

[2015-11-21 18:09] botandrose commented on #292
@seanpdoyle Thanks very much for your time on this, and on a Saturday!

`render_ember_app` seems like the logical step forward if your app is a SPA. Unfortunately, mine is not. We actually have multiple ember apps that are effectively extremely complicated widgets, embedded in a large page that is otherwise rendered in Rails. There also may be more than one instance of a single app embedded on a p

[2015-11-21 22:54] seanpdoyle commented on #292
@botandrose I'm unsure about full-fledged support for this use case.

As a quick fix, you can call `EmberCli[:exam_builder].build` in a `before_action` hook in your controller.

That's a private API, but you can use it until we can come up with a better approach.

[2015-11-21 23:53] botandrose commented on #292
Ok, that's great for now! I am happy simply to not be stuck on 0.4, for the time being. I'll give it a shot. Quick question: is that `build` method cheap if the ember app hasn't changed since last time it was invoked?

[2015-11-22 16:59] seanpdoyle commented on #292
Yup:

https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/app.rb#L37-L45

[2015-11-22 17:31] seanpdoyle commented on #287
@jpaas I'm closing this issue.

If this is still a problem, please say so and we can try again.

[2015-11-22 17:57] thejchap opened #295 "undefined method `root' for #<EmberCli::App:0x007f80f21ba290>"
Happens on `rails g ember-cli:heroku`. Still investigating, just wanted to open up in case anyone else has run into this

Version 0.5.4
Ruby 2.2.2
Rails 4.2.1

[code]

[2015-11-22 19:46] seanpdoyle commented on #295
@thejchap thanks for opening this issue and bringing this to our attention!

This has been fixed in https://github.com/thoughtbot/ember-cli-rails/pull/296 and will be available in `0.5.5`.

[2015-11-22 19:49] thejchap commented on #295
@seanpdoyle nice! thanks for the speedy reply and fix

[2015-11-22 19:55] seanpdoyle opened #297 "Add test coverage for generators"
http://api.rubyonrails.org/classes/Rails/Generators/Testing/Assertions.html

[2015-11-22 20:05] #295 closed

[2015-11-22 20:16] seanpdoyle commented on #208
Could you try the [latest version](https://github.com/thoughtbot/ember-cli-rails/releases/latest)?

I'm closing this issue due to it's age. If this is still a problem, say so and we can take another shot.

[2015-11-22 20:16] #208 closed

[2015-11-22 20:17] seanpdoyle commented on #212
I'm closing this issue due to its age and lack of reproducibility.

@jgadbois @olivierobert if you're able to reproduce this, please share whatever information you can find and I'll reopen.

[2015-11-22 20:17] #212 closed

[2015-11-22 20:42] thejchap opened #298 "include_ember_* does not appear to honor asset prefix/fingerprint?"
might be missing something...during heroku deploy...does this have to do with the custom `RAILS_ENV`? Still investigating

In view
[code]

In application config (`RAILS_ENV='staging'`):
[code]

The rendered script tags/style tags look like this (notice asset prefix and fingerprint are not present)....they are for all the rest of the rails assets (application.js/css, etc):
[code]

[2015-11-22 21:01] thejchap commented on #298
Appears to be the case in `RAILS_ENV=production` as well

[2015-11-22 21:38] seanpdoyle commented on #298
@thejchap thanks for opening this issue.

There seems to be a few things in play here.

For starters, I would expect the asset URLs to start with `/assets` instead of `/javascripts` and `/stylesheets`. That fact leads me to believe that your URLs point to missing assets.

Second, if you're going to be serving the assets from a CDN, and/or are using a Rails-side prefix, you need to configure the ad

[2015-11-22 23:26] thejchap commented on #298
@seanpdoyle Thanks for the reply

No luck....it appears as if all the assets are being fingerprinted properly and put in the right place during `rake assets:precompile`....however `Rails.application.assets` doesn't include anything that looks like the `vendor.js/css/etc` from the ember app. It does include `/app/tmp/ember-cli-913b6133-b6dd-4325-9ae3-050706759883/assets` though

And thanks for the

[2015-11-22 23:49] seanpdoyle commented on #298
@thejchap thanks for the additional information. I'll investigate further.

As an alternative suggestion:

Have you considered *not* setting `config.assets.prefix = '/staging/assets'`?

Given that you're fingerprinting your assets, there won't ever be name collisions between staging and production assets, since the fingerprints take into account the contents of the files. The only way names would

[2015-11-22 23:56] thejchap commented on #298
@seanpdoyle thanks I'll let you know if I come across anything else.

Re: not separating the assets into different folders - yeah, theoretically should be fine, and I will try this to see if it changes anything, but not a huge fan of the idea of having production and staging pointing to the same files....even given the fact that the file and its contents are the same

[2015-11-23 03:27] seanpdoyle commented on #298
@thejchap could you try pulling down

https://github.com/rondale-sc/ember-cli-rails-addon/pull/22

[code]

and configuring the addon with your prefix:

[code]

[2015-11-23 15:33] thejchap commented on #298
@seanpdoyle thanks! no luck unfortunately...the `index.html` in the ember app still gets the asset urls prefixed correctly (as it did with the earlier snippet), however the `include_ember_*_tags` helpers still point to `https://d3dncadikrv0jv.cloudfront.net/javascripts/dashboard/assets/vendor.js` without the fingerprint/prefix.

Also FYI, as far as I know, `EmberApp.env()` only returns `developmen

[2015-11-23 15:45] seanpdoyle commented on #298
That might be part of the problem.

Unless you're taking additional steps, Ember won't know how to treat `RAILS_ENV=staging`.

`"production"` in this sense represents a production-like build.

To that end, the addon doesn't currently fingerprint non-production-like builds (for the sake of non-fingerprinted URLs in development):

https://github.com/rondale-sc/ember-cli-rails-addon/blob/7745bddf33bd

[2015-11-23 15:47] seanpdoyle commented on #298
I'm very surprised by this.

This line:

[code]

should ensure the prefix makes it's way into the URL.

[2015-11-23 15:48] seanpdoyle commented on #298
I have a hunch this is our culprit:

https://github.com/thoughtbot/ember-cli-rails/blob/8eec101fe0b882653db89894221918390465de57/lib/ember_cli/sprockets.rb#L27-L29

[code]

I'll investigate and push up a branch with a fix

[2015-11-23 15:55] thejchap commented on #298
Right, however the behavior is still the same even when `RAILS_ENV=production`. Just confirmed in production that the helpers still point to the URLs mentioned above

Thanks for all your help on this! This is an upgrade from 0.3.0 FWIW

[2015-11-23 16:13] seanpdoyle commented on #298
@thejchap I've tried to reproduce this bug here:

https://github.com/seanpdoyle/ember-cli-rails-heroku-example/compare/sd-add-asset-tag-example

Could you pull that down, make it work more like your production app in whatever way you need to?

If you're able to reproduce the error, could you fork that repo and make a PR against that branch emphasizing the diff necessary to reproduce this bug?

[2015-11-23 20:46] dchersey opened #301 "symlink getting clobbered on template file changes"
I've been getting intermittent errors when I save a modified .hbs or .js in my ember-cli app (called :ui).

[code]

I tried configuring live-reload with guard-livereload and rack-livereload and this did not help.
I also ensured my puma server is running only 1 thread and this did not help
[code]
I tried booting with WEBrick; same error.

I was not getting these errors when I was running ember-cli

[2015-11-23 21:14] flexoid opened #302 "Rails 3.2.* compatibility looks broken"
Hi.
Looks like ```before_action``` from ```lib/ember_cli/controller_extension.rb``` breaks compatibility with Rails v3.2.*, which is supported according to the README. So, maybe you consider adding some workaround like ```respond_to?(:before_action)``` with fallback to ```before_filter``` for the period that you going to support rails 3?
Thanks

[2015-11-23 22:45] thejchap commented on #298
@seanpdoyle Here you go:
https://github.com/seanpdoyle/ember-cli-rails-heroku-example/pull/6

Here is the app deployed on Heroku:
https://asset-tag-example-repro.herokuapp.com/

Here are the `include` helpers failing
https://asset-tag-example-repro.herokuapp.com/helpers

[2015-11-23 22:48] botandrose opened #303 "0.5 requires `bower_path` to be absolute"
So, I like to specify the bower dependency in `package.json`, and then symlink the binary from `node_modules/.bin/bower` to `bin/bower`. A little off the beaten path, but IMO its saner than npm's "just globally install every package if you want to use its binaries" strategy!

In any event, EmberCLI-Rails 0.4 allowed me to specify my `bower_path` as `bin/bower`, and all was well. However, after the

[2015-11-23 22:52] botandrose commented on #303
Ah, just noticed that there is a 0.5.5 out that touches how executables are invoked. Will upgrade and check to see if this is still an issue.

[2015-11-23 23:04] botandrose commented on #298
FWIW, I'm seeing this too, and I'm not doing anything unusual with asset hosts, prefixes, etc. Everything fine on dev and test, but no fingerprint on production.

[2015-11-23 23:20] botandrose commented on #303
Confirmed regression still exists in 0.5.5.

[2015-11-23 23:31] botandrose commented on #298
Huh, now also seeing it after a delay on development. Assets come through at first, several minutes later they are 404. A rails server restart fixes this. May or may not be related to other issue. I'll investigate further.

[2015-11-23 23:49] botandrose commented on #298
Looks like its consistently ~5 minutes after Rails server restart. I currently suspect this is unrelated, so splitting off into a new issue.

[2015-11-23 23:50] botandrose opened #304 "Assets return 404 after ~5 minutes on dev"
Assets come through at first, but ~5 minutes later they return 404s. A rails server restart fixes this for another 5 minutes.

[2015-11-23 23:59] arinhouck opened #305 "assets:precompile fails for production on heroku"
Recently updated to latest version of ember-cli-rails and tried to push to heroku. `bundle exec rake assets:precompile RAILS_ENV=production` works locally but not on heroku.

[code]

[2015-11-24 00:16] botandrose commented on #304
Interesting, looks like the directory gets deleted when the server is up for five minutes:

[code]

Struggling to come up with a hypothesis for this behavior...

[2015-11-24 00:32] botandrose commented on #304
The plot thickens. Directory does not disappear when running `rails s`, but does with apache 2.4 + latest passenger (5.0.21)! Closing for now, as this appears to be Passenger's fault.

[2015-11-24 03:33] botandrose commented on #304
Okay, turns out this is fallout from using EmberCLI-Rails in development with Passenger's default configuration. Specifically, "smart spawning" mode, and the preloader's timeout of five minutes.

Passenger's smart spawning boots the app in a separate process (aka preloader), then subsequently forks a new worker processes off of the preloader. The benefit of this is that spinning up new worker proc

[2015-11-24 13:49] seanpdoyle commented on #301
@dchersey thanks for opening this issue!

Looking at that stack trace, I don't see `ember-cli-rails-addon` anywhere, so it's hard for me to deduce the cause.

EmberCLI `1.3.8` is a few minor versions behind [the latest](https://github.com/ember-cli/ember-cli/releases/latest).

We state in our [README](https://github.com/thoughtbot/ember-cli-rails/blob/master/README.md#ember-cli-rails):

Is upgradi

[2015-11-24 14:17] seanpdoyle commented on #302
@flexoid thanks for bringing this issue to our attention.

This will be handled in https://github.com/thoughtbot/ember-cli-rails/pull/306.

[2015-11-24 14:38] seanpdoyle commented on #303
@botandrose thanks for opening this issue!

I appreciate your desire for a custom `bower_path` configuration value, and I recognize that the behavior has changed in a non-backwards compatible way.

It is my preference that the gem expect absolute paths. Like you mentioned, `bower_path: Rails.root.join("exam_builder/bin/bower")` is a reasonable thing to do.

If you feel strongly that this isn't a g

[2015-11-24 14:38] #303 closed

[2015-11-24 14:44] seanpdoyle commented on #304
@botandrose thanks for putting in the (what sounds like *immense*) effort to track this down.

I don't use Passenger, so I don't have much context on what a fix would take.

It sounds like you've pair in blood sweat and tears to build up the necessary context, so please open your proposed PR.

[2015-11-24 14:56] seanpdoyle commented on #305
@arinhouck thanks for opening this issue and bringing this to our attention.

The [lines linked to in that stack trace](https://github.com/thoughtbot/ember-cli-rails/blob/v0.5.5/lib/ember_cli/path_set.rb#L92-L93) correspond to this method:

[code]

The failure message gives me a hunch that you don't have a `bower` executable installed on Heroku.

Have you run `rails g ember-cli:heroku` generator?

[2015-11-24 15:16] seanpdoyle commented on #298
Disregarding @botandrose's comments (that conversation is ongoing in https://github.com/thoughtbot/ember-cli-rails/issues/304), I think I know what's going on here.

Rails isn't responsible for generating the fingerprints (EmberCLI handles that).

When serving the EmberCLI-generated `index.html`, everything works fine, since the URLs are fingerprinted (in production, development [deliberately disa

[2015-11-24 15:18] dchersey commented on #301
Sorry -- typo -- I am running ember-cli 1.13.8!

I agree this is tough because the problem is definitely coming from the ember-cli build. However I have think it is the handling of the symlinks within ember-cli that is causing the issue ... ember is rebuilding an the browser is out of date. Still trying to isolate this by removing dependencies on the sprockets pipeline so I can test it independent

[2015-11-24 15:20] seanpdoyle commented on #301
@dchersey I still recommend [upgrading to the latest ember-cli](https://github.com/ember-cli/ember-cli/releases/latest) version.

If you're able to do that and still have an issue, I'll gladly reopen.

[2015-11-24 15:24] seanpdoyle commented on #301
FWIW, we only [symlink your Ember app's `dist/` to a Sprockets-compatible directory](https://github.com/thoughtbot/ember-cli-rails/blob/41dee1cafc8bee61462a2aa858d891df2f6e6613/lib/ember_cli/app.rb#L102)

Your stack trace:

[code]

doesn't seem to involve the source (your Ember App's `dist/` directory ) or the destination (Rails' `tmp/ember-cli-$SOME-HASH/assets`) of the symlink

[2015-11-24 15:43] thejchap commented on #298
@seanpdoyle ah! got it. makes a lot of sense. i am happy to work on a PR if you'd like...if not lmk if there's anything else I can do to help. thanks for all your hard work on this....great tool

[2015-11-24 15:47] #302 closed

[2015-11-24 15:49] seanpdoyle commented on #302
@flexoid this was fixed in https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.5.6

Please try that out and let me know if you're still having issues

[2015-11-24 16:56] arinhouck commented on #305
I have previously had heroku working with an older version of ember-cli-rails. I ran that command, and it fails on precompile assets but doesn't really tell me much. I had already updated build packs because I was using some other method that was previously shown.

Here is what I noticed during build
[code]

[code]

package.json in rails
[code]
Then my other package.json hasn't changed that is ins

[2015-11-24 17:08] seanpdoyle commented on #305
Have you modified your Heroku environment?

[code]

Does `bin/heroku_install` exist in your project?

[2015-11-24 17:08] dchersey commented on #301
Ok, updated to ember-cli 1.13.13 and issue still remains. Regarding the symlink location, that is very strange. I am not in control of the ember build, but it appears to not be using dist? Is the source of the symlink correct (does ember-cli-rails symlink my ember-app's app directory to the dist directory or sprockets destination?)  Where is this configured?  My ember.rb initializer simply says

[

[2015-11-24 17:12] seanpdoyle commented on #305
Have you also ensured that the `.buildpacks` file no longer exists?

[2015-11-24 17:20] botandrose commented on #303
@seanpdoyle if you've concluded that the paths should be absolute, then that's fine with me. :+1:

Thanks for the consideration.

[2015-11-24 17:32] arinhouck commented on #305
Cleared build packs again to make sure and configured. Yes to `bin/heroku_install`. I removed my .buildpacks file from repo. Still have this message:
[code]

[2015-11-24 17:43] seanpdoyle commented on #298
@thejchap @botandrose could you two please try with the following:

[code]

[code]

Both files are experiments and won't land until we confirm they work.

[2015-11-24 17:45] seanpdoyle commented on #305
That's very confusing.

Are you sure that

[code]

has been run and configured? It sounds like `bower` isn't recognized.

[2015-11-24 17:51] seanpdoyle commented on #305
I was able to update to the latest (`0.5.6`) and deploy to Heroku:

[code]

Note, that output contains

[code]

so that might be a red herring

[2015-11-24 18:04] dchersey commented on #301
more info:

after a successful build initiated via ember-cli-rails, I see that I have directories in my-rails-app/tmp as follows:

[code]
Note that they are 20 minutes apart.  Within each of these (say the latest) I see a structure that looks like

[code]

the final ./assets/ui is symlinked to the ./apps/ui. At no point is the `ui/dist` directory symlinked; it appears ember-cli-rails is being told

[2015-11-24 18:37] botandrose commented on #298
@seanpdoyle Booted my app in production, and the ember assets are coming through! Great work!

[2015-11-24 18:46] thejchap commented on #298
@seanpdoyle nice! confirmed for me too

[2015-11-24 19:20] thejchap commented on #298
@seanpdoyle FYI getting this locally in `RAILS_ENV=development`. Looks like its coming from here:

https://github.com/thoughtbot/ember-cli-rails/compare/sd-manifest?expand=1#diff-c366a180fec0d75b75125290586270b1R82

[code]

[2015-11-24 19:54] thejchap commented on #298
@seanpdoyle yeah, looks like in development mode the generated script tags are empty

[2015-11-24 23:41] thejchap commented on #298
@seanpdoyle just noticed something else...it appears as if the ember app isn't getting built on deploys...what i was seeing earlier i guess was the last build before this patch. i have made subsequent changes that are not showing up. See below:

Notice the hash of the file in the locally built one, and how that file is not present in the deployed app's assets

[code]

[2015-11-25 00:04] seanpdoyle commented on #301
@dchersey thanks for the additional information!

We've just landed a change that alters the way the process cleans up old builds:

https://github.com/thoughtbot/ember-cli-rails/commit/2d51daa8cbcd51d24bf94f6d509c476cbdafc5fe

Could you pull that down and give it a shot?

[2015-11-25 02:38] olivierobert commented on #212
@seanpdoyle I will try to replicate the issue on a more recent version as this was happening on v0.3.5

[2015-11-25 02:47] arinhouck commented on #305
My build is succeeding for bower on node.
[code]

What drives me insane is the failure on assets now has no message. Is there a way to get something more verbose?
[code]

[2015-11-25 02:49] olivierobert opened #310 "Ember baseUrl is repeated twice in the url when different from root url"
The Ember app is configured to be accessed at '/app', but going to this url redirect to '/app/app/'.

![backend](https://cloud.githubusercontent.com/assets/696529/11387033/88a3ab40-9359-11e5-8e39-b14e7273bd60.png)

This issue can be replicated in [this repo](https://github.com/olivierobert/ember-cli-rails-bugs/tree/bug/redundant-app-url) which has a bare installation of Rails and Ember CLI.

The i

[2015-11-25 14:15] jgadbois commented on #212
@seanpdoyle thanks for looking into this - sorry I wasn't able to reproduce.

[2015-11-25 15:02] seanpdoyle commented on #305
@arinhouck you could try setting `EMBER_CLI_RAILS_VERBOSE=true`. It sounds like you're running Heroku in `production`, so it should be verbose anyway:

https://github.com/thoughtbot/ember-cli-rails/blob/903e7b3ca1caca1fb352127852d5d944f6660b40/lib/ember_cli/shell.rb#L81-L87

Another option would be to clear your cache. It might not be effective, since it sounds like you haven't yet successfully de

[2015-11-25 15:04] seanpdoyle commented on #310
@olivierobert thanks for bringing this to our attention!

Also, thanks for linking a minimal repo to reproduce the bug. Since the repo is EmberCLI-only, what can we assume about the rails-side of things?

Are you using `mount_ember_app`?

Are you rendering with the helper tags, or `render_ember_app`?

What are your initializer configurations?

@drapergeek this appears to be similar to what used to

[2015-11-25 15:24] seanpdoyle commented on #310
@olivierobert I've been able to resolve the bug here:

https://github.com/olivierobert/ember-cli-rails-bugs/pull/1

But since the repo doesn't have the Rails-side, I'm not sure if the resolution is helpful and fits your real-world use case.

[2015-11-25 15:25] seanpdoyle commented on #310
I'll also point out that the steps taken to resolve your issue go against the guidance provided in the README.

If that bug-fix works for you, I'll correct the README.

[2015-11-25 15:41] arinhouck commented on #305
I am serving Rails assets as well. I have tried with `:uglifier` alongside `minifyJs: false` and as nil with `minifyJs: true`. I think it may be a Rails problem now.

Still no message:
[code]

[2015-11-25 16:32] arinhouck commented on #305
Here are my current configs in production.rb:
[code]

[2015-11-25 17:52] dchersey commented on #301
It is a little weird ... I pulled this down and ran it, and it is showing me an out of date version of my app.
I have tried `rake cache:clean`, deleted ui/dist, ui/tmp, tmp, public/assets and everything and it keeps rendering an old version.

I no longer see the building... message in the log, but I do see it creating tmp/ember-cli-<hash> directories and when I look in there I do see the changed H

[2015-11-25 18:07] dchersey commented on #301
Ok, fell back to the released gem and still having trouble. I brought in some new configs to my ember app last night; I will see if I can rewind and get things back to where they were then update to this new build; stay tuned.

[2015-11-25 19:10] dchersey commented on #301
Removing previous comments so I can consolidate here:

I reverted to an earlier commit before playing with this change, and in the process broke some things about how my app works. In troubleshooting that, I removed the guard-livereload gem, rack-livereload, and my browser extension.

I can no longer reproduce the original problem using the released version of the gem.

I am about to try the new c

[2015-11-25 19:31] dchersey commented on #301
Ok, I updated the gem to commit 2d51daa and I did NOT have the problem. So far so good.
I added guard-livereload and rack-livereload and when I update a file, I see guard initiate a live-reload and the rails server (puma) tells me
[code]

That's new, and possibly due to the above changes?  Anyway it's looking like live-reload could be the issue. I will try it without rack-livereload and see if it

[2015-11-25 19:38] dchersey commented on #301
Scratch that previous comment. I had not properly inserted the rack-livereload middleware in my environment.rb.

It is working now ... live-reloading and no errors so far.  Will let you know if that changes.

And THANKS for all your help; this has been a sticky one to chase down for some reason.

[2015-11-25 20:13] seanpdoyle commented on #301
@dchersey that's great news!

Thanks for tracking this down. I'll close this for now.

[2015-11-25 20:13] #301 closed

[2015-11-25 20:14] arinhouck commented on #305
So I finally got it to build now. However now I get a 404 error on production for frontend.css and nothing on the page loads.

[2015-11-25 20:30] seanpdoyle commented on #305
@arinhouck that's great news!

What style of EmberCLI-Rails integration are you using?

`render_ember_app` or `include_ember_*_tags`?

[2015-11-25 20:49] arinhouck commented on #305
[code]

You can see the error on production @ gradebuildr.com

[2015-11-25 21:16] seanpdoyle commented on #305
@arinhouck thanks for providing your Application layout.

To start, I would recommend only using one or the other styles of embedding the Ember application.

If you can help it, you should prefer to call `render_ember_app`, injecting the necessary Rails-generated markup, since it is the preferred approach for future versions.

If you can't use `render_ember_app`, you should remove the call to `ren

[2015-11-25 21:19] seanpdoyle commented on #305
Additionally, since your project is now compiling

[2015-11-25 21:19] #305 closed

[2015-11-26 00:25] sevab opened #311 "404 for frontend.js with include_ember_script_tags :frontend"
I'm loading my ember app only inside some of my rails views via `include_ember_script_tags :frontend`. However, upon starting the server I get a 404 for `frontend.js`.

The issue is solved by a hack where I temporarily add `mount_ember_app :frontend, to: "/"` on top of `routes.rb` and reload the page, which presumably triggers ember to build the assets. Upon first reload I get a blank page because

[2015-11-26 01:49] drapergeek commented on #310
Sadly, it wasn't "resolved", I changed the setup to not require a base URL.

[2015-11-26 03:05] olivierobert commented on #310
@seanpdoyle Removing the baseUrl config from the router did it. So this issue is closed but as you suggested it goes against the configuration stated in the README.

My bad for not pushing the Rails part. It's done now: https://github.com/olivierobert/ember-cli-rails-bugs

[2015-11-26 03:05] #310 closed

[2015-11-26 16:01] seanpdoyle commented on #310
@olivierobert thanks for seeing this through to the end.

I've opened a PR to update the README:

https://github.com/thoughtbot/ember-cli-rails/pull/312

Could you please provide some feedback?

[2015-11-26 16:03] seanpdoyle commented on #311
Thanks for opening this issue and bringing this to our attention!

This issue sounds like a duplicate of #298, so I'm closing it, since it's already on our radar.

As a potential quick-fix (if a fix is time-sensitive), try this out:

https://github.com/thoughtbot/ember-cli-rails/issues/298#issuecomment-159352737

[2015-11-27 16:31] seanpdoyle commented on #298
@thejchap I've pushed an update to the `sd-manifest` branch of the gem.

Could you pull that down and verify that it works both in production and in development?

[2015-11-27 20:50] thejchap commented on #298
Hmmm @seanpdoyle still the same behavior. Works in development, but not in production. Currently on https://github.com/thoughtbot/ember-cli-rails/commit/a2e03fe242ff03aae663bbbc413997a8c4709a52

[2015-11-28 14:57] seanpdoyle commented on #298
@thejchap are you still using `config.assets.prefix = "/staging/assets"`?

[2015-11-28 15:01] thejchap commented on #298
@seanpdoyle nope just bare bones setup w/ default config

[2015-11-28 15:21] arinhouck commented on #298
Here to confirm #298 fixed my production compile errors. Thank you @seanpdoyle for your help.

[2015-11-28 17:58] botandrose commented on #298
Appears to work in both development and production environments for me, as well.

[2015-11-28 18:14] #304 closed

[2015-11-29 21:18] thejchap commented on #298
@botandrose @arinhouck have you confirmed that the ember app build in production that you are viewing stays up to date with changes? IE if you commit a change somewhere in the ember app, then push to production does it build properly and reference the newest version?

[2015-11-29 23:37] arinhouck commented on #298
@thejchap Yes I can confirm I had the newest revision as my build was for my live project.

[2015-11-30 04:05] seanpdoyle commented on #298
@thejchap could you temporarily make `assets:precompile => assets:clobber`?

[2015-11-30 11:09] jeanbono opened #314 "undefined postinstall when deploying on heroku"
Just tried deploying a simple app (default rails app + default ember-cli app) to heroku without success.
Everything is working fine locally but when trying to deploy, I get a message

`remote:        > undefined postinstall /tmp/build_613806013144ddccabec3cd4c5085791`
`remote:        > ./bin/heroku_install`

looping a few dozen times, before getting a "verifying deploy" that last until cancelled (

[2015-12-01 02:31] seanpdoyle commented on #314
@jeanbono thanks for bringing this to our attention!

This is very strange behavior.

Would you mind sharing your root-level `package.json`?, along with the generated `bin/heroku_install`?

[2015-12-01 02:42] seanpdoyle commented on #298
@thejchap I've pushed a version of `sd-manifest` that plays nicer with Sprockets (and shouldn't require the changes propsed in https://github.com/thoughtbot/ember-cli-rails/issues/298#issuecomment-160511486).

Please try it out and let me know if it resolves this issue.

If so, I'll merge, close, and release.

[2015-12-01 07:46] jeanbono commented on #314
Sure thing :

Here is the root package.json

[code]

and the generated ./bin/heroku_install

[code]

[2015-12-01 15:38] jeanbono commented on #314
Ok so it seems it was my bad all along :)

I created the ember app without the flag --skip-git which must have messed with what I was actually sending to heroku for deployment.

I had to modify the package.json like this :

[code]

because node 5.0 was not playing too nice with npm install on heroku...

But it's now up and running on heroku !

[2015-12-01 15:39] #314 closed

[2015-12-01 15:42] seanpdoyle commented on #314
:clap: thanks for digging into this!

@jeanbono do you think that change should be added to the Heroku generator?

[2015-12-01 15:54] jeanbono commented on #314
No I wouldn't bother changing the generator for package.json since it looks more of a problem on heroku side.

[2015-12-01 22:10] thejchap commented on #298
@seanpdoyle which branch should i be on for the addon?

[2015-12-01 22:54] seanpdoyle commented on #298
@thejchap `sd-manifest` (https://github.com/rondale-sc/ember-cli-rails-addon/pull/23)

[2015-12-02 16:24] kozak opened #318 "The error message displayed when compiling a template, doesn't contain location / file information"
I had an error in a handlebars template (there is a href="#" and also a binding to href):

[code]

The error I got, didn't include the file information that is normally included in `ember build`
This is what was displayed:

[code]

When I run `ember build` I get a huge stack trace (which also includes deprecation information) and the file name:

[code]

[2015-12-02 16:33] seanpdoyle commented on #318
Thanks for opening this issue and bringing this to our attention!

This behavior is odd. The gem doesn't do anything with the `ember-cli` generated error / stack trace.

The way we handle inter process communication between `rails s` and `ember b --watch` is by depending on EmberCLI to write build errors to STDERR, [which we redirect to an error file that Rails is watching](https://github.com/thou

[2015-12-02 16:48] kozak commented on #318
Thanks for a speedy reply, sorry for not including this information in the first place:
package.json:
ember-cli: 1.13.13
ember-cli-rails-addon: "^0.5.2"

gem: most recent version from github, from Gemfile.lock
[code]
When doing:
[code]
the generated errors.txt includes the file information, here is the output:
[errors.txt](https://github.com/thoughtbot/ember-cli-rails/files/49959/errors.txt)

[2015-12-02 20:59] dchersey opened #319 "error deploying via capistrano"
Hi again -- I've just built a new Ubuntu 14 server and am getting an error from ember-cli-rails when deploying via capistrano.

[code]

Looking at the code, I see ember-cli-rails is looking for bower_path from app_options but it's not clear where/if there is something I need to configure there.

I updated my gem to pull from master and the error remains as above.
[code]

I have also ensured my pac

[2015-12-02 21:08] seanpdoyle commented on #319
@dchersey thanks for opening this issue!

It's great that your root level `package.json` lists `bower` as a dependency. We depend on [Heroku's Node buildpack](https://github.com/heroku/heroku-buildpack-nodejs) to see that and install the dependencies.

Does your capistrano task have a matching step to install root-level npm dependencies?

[2015-12-02 21:36] jpaas commented on #287
Sorry for the delay. I was just able to get back to this. I am still totally stuck. I can't seem to get the ember app built.  I get a rack app error that it can't open my index.html from the app directory in my tmp folder. It creates a folder under tmp for my app, but the folder is always empty. It doesn't log anything to tell me that it wasn't able to build my ember app.

[2015-12-02 22:02] seanpdoyle commented on #287
@jpaas that sounds awful.

What version of the gem are you using?

Have you tried the [latest for the gem](https://github.com/thoughtbot/ember-cli-rails/releases/latest) and [the addon](https://github.com/rondale-sc/ember-cli-rails-addon/releases/latest)?

[2015-12-02 22:05] jpaas commented on #287
I'm using ember-cli-rails 0.5.6 and ember-cli-rails-addon 0.5.1

[2015-12-02 22:17] jpaas commented on #287
Just tried moving up to ember-cli-rails-addon 0.5.2, but no difference.

I've created a custom controller to bypass authentication on my ApplicationController:
[code]

my routes.rb:
[code]

my views/ember/hcp_webapp/index.html.erb:
[code]

my config/initializers/ember.rb:
[code]

[2015-12-02 22:24] seanpdoyle commented on #287
On an unrelated note, you should include the polyfil `<script>` tag within the call to `render_ember_app`, since the current form would result in invalid HTML:

[code]

As far as the bug goes, everything looks like it should be working. I'll try looking into this further.

Would it be possible for you to create a sample repository that reproduces this behavior to make my debugging easier?

[2015-12-02 22:26] jpaas commented on #287
@seanpdoyle I'll try and put together a pair of repos. One for the rails app and another for the separate ember-cli app.

[2015-12-02 22:39] seanpdoyle commented on #287
@jpaas would you mind combining them? that would greatly simplify my process.

[2015-12-02 22:42] jpaas commented on #287
@seanpdoyle sure, as long as that isn't part of the problem, the ember-cli repo being outside the rails repo.

[2015-12-03 02:31] dchersey commented on #319
I am doing an npm install via capistrano-npm; is that what you mean?

[2015-12-03 14:06] robertlandreaux opened #320 "undefined method `render_ember_app' for #<#<Class:0x00..."
First of all, thank you to all who have made this gem possible. Without it, full integration tests were taking way too long.

I am getting this error after starting up the rails server and trying to load `localhost:3000`:

undefined method `render_ember_app' for #<#<Class:0x00...

I have read through the documentation thoroughly and must be missing something. You can view my project at https://git

[2015-12-03 14:21] jpaas commented on #287
@seanpdoyle: well at least I am consistent when I mess up. Same result here https://github.com/jpaas/ember-rails-test

[2015-12-03 15:52] dchersey commented on #319
I am doing an npm install via capistrano-npm; is that what you mean?

Here's the relevant section of my capistrano script:

[code]

I am using the following capistrano gems:

[code]
The log output shows that it runs npm and bower installs successfully before invoking `rake:assets:precompile`.  I tried removing the nvm, npm and bower capistrano gems and still had the same issue, except that ember-c

[2015-12-03 15:55] kozak opened #321 "No such file or directory @ rb_sysopen - ~/project/tmp/ember-cli-HASH/apps/adminr/index.html"
I've run into an issue with Ember-CLI that I have no idea how to solve.
After installing bower with  `npm install -g bower`
and than installing momentjs and select2 via bower, the ember app stopped working with the error in the title. I've tried restarting the POW server, which usually helped with the "no such file or directory" error (I am using `export POW_WORKERS=1`).
I've tried removing the tm

[2015-12-03 17:45] seanpdoyle commented on #319
Unfortunately, I don't have much capistrano experience (and exactly 0 EmberCLI-Rails capistrano experience), so most of this is speculative.

[This code](https://github.com/thoughtbot/ember-cli-rails/blob/7badc2581e0158bb8017cf5a24a39ea8d50b77df/lib/ember_cli/helpers.rb#L5-L16) is responsible for determining if a command (the `bower` executable, in this case) is available. I didn't author that cod

[2015-12-03 17:46] kozak commented on #321
Narrowed it down to a custom index page:
when using:
[code]

[2015-12-03 17:57] kozak commented on #321
Ok, so I think the problem is that I was using `ActionController::Base` which doesn't include the `EmberCli::ControllerExtension`.

Adding `include EmberCli::ControllerExtension` solved the problem.

[2015-12-03 17:59] seanpdoyle commented on #321
@kozak right!

I was just in the process of answering you.

Is the assumption that users will be extending `ApplicationController` a bad one?

Ideally this gem would omit the [controller exception](https://github.com/thoughtbot/ember-cli-rails/blob/7badc2581e0158bb8017cf5a24a39ea8d50b77df/lib/ember_cli/controller_extension.rb) from its public API.

Would mentioning that your custom controller must

[2015-12-03 18:15] kozak commented on #321
I think your assumption was good :).
I've decided to use ActionController::Base (long ago, before using ember-cli-rails, so I it was harder to notice at first), since the controller serving the ember application doesn't require all the other logic that is normally present in ApplicationController.
Might have been a case of premature optimization on my part. I will switch to using ApplicationContro

[2015-12-03 18:16] seanpdoyle commented on #320
@robertlandreaux thanks for opening this issue, and an EXTRA thanks for linking to the repository!

The issue is caused by your `IndexController` extending from `ApplicationController`, and your `ApplicationController` extending from `JSONAPI::ResourceController`.

Currently, the gem includes [the helpers](https://github.com/thoughtbot/ember-cli-rails/blob/7badc2581e0158bb8017cf5a24a39ea8d50b77df/

[2015-12-03 18:16] #320 closed

[2015-12-03 18:19] seanpdoyle commented on #321
@kozak :+1: please weigh in on https://github.com/thoughtbot/ember-cli-rails/pull/322

[2015-12-03 18:20] seanpdoyle commented on #320
This is (in effect) a duplicate of https://github.com/thoughtbot/ember-cli-rails/issues/321

[2015-12-03 18:28] kozak commented on #321
Thanks a lot !

[2015-12-03 18:28] #321 closed

[2015-12-03 19:08] robertlandreaux commented on #320
@seanpdoyle Thank you so much!

[2015-12-03 20:09] seanpdoyle commented on #298
@thejchap this has been merged into `master`.

Could you please try this out?

[2015-12-03 22:49] seanpdoyle commented on #318
@kozak would you mind pulling down https://github.com/thoughtbot/ember-cli-rails/pull/324 and seeing if that corrects this issue?

[2015-12-03 23:35] seanpdoyle commented on #287
@jpaas I've pushed some fixes:

https://github.com/jpaas/ember-rails-test/pull/1

[2015-12-03 23:55] seanpdoyle commented on #186
@jboler any movement on this?

[2015-12-04 11:22] kozak commented on #318
Bad news: Unfortunately, it doesn't.
Good news:  it appears that Ember creates its own tmp/error.txt file that overwrites the one Ember cli rails is creating from stderr redirection. If I change the error file name here https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/path_set.rb#L75  to be something different than `error.txt` the whole information is preserved in the log.

[2015-12-04 12:53] kozak commented on #318
@seanpdoyle How do you want to approach filtering out deprecations from the error file ?

* We could ask ember-cli to provide a flag to ember build to exclude deprecations (unless one is already present )
* We could parse the error log by hand, but this would make it very fragile

[2015-12-04 20:18] jpaas commented on #287
@seanpdoyle Thanks for all the help. I merged your PR and it worked. I then tried using #325 on my app and it now prints the following exception

[code]

where line 1 is the `render_ember_app`

[2015-12-04 20:21] seanpdoyle commented on #287
@jpaas very interesting.

It looks like you're silently failing to build the `index.html` file.

Would you mind pulling the latest from #325 and trying again?

[2015-12-04 20:28] jpaas commented on #287
I'm not sure if this helps any more, but here's what I'm seeing:

[code]

[2015-12-04 20:35] seanpdoyle commented on #287
Does `Ember::HcpWebappController` extend from `ApplicationController`?

[2015-12-04 20:37] jpaas commented on #287
No it extends from ActionController::Base. In my app the ApplicationController authenticates, and I didn't want the ember controller to authenticate. That's why I created a custom controller that extends ActionController::Base.

[2015-12-04 20:53] seanpdoyle commented on #287
@jpaas would you be open to:

[code]

[2015-12-04 20:58] jpaas commented on #287
@seanpdoyle I just tried extending ApplicationController with the skip_before_action but I get the same result

[2015-12-04 21:05] seanpdoyle commented on #287
@jpaas is your `ApplicationController` an ancestor of `ActionController::Base`?

If so, I'm not sure how to proceed debugging this. Would you be willing to add me as a collaborator temporarily to help get to the bottom of this?

[2015-12-04 21:17] jpaas commented on #287
The controllers look like this...

[code]

[code]
The rails app and the ember app are in separate repos in Bitbucket. Do you have a bitbucket account?

[2015-12-04 21:19] seanpdoyle commented on #287
I don't have a Bitbucket account.

What happens if you change to:

[code]

[2015-12-04 21:21] seanpdoyle commented on #287
I think what's happening is that the EmberCLI `before_action` is firing before the `authenticate_user!` before action, and that's what's causing issues

[2015-12-04 21:26] jpaas commented on #287
@seanpdoyle I just tested both of those theories by adding :: and by commenting out the before_action entirely. The only message I ever get is "EmberCLI failed to generate an `index.html` file."

Once I had commented out the before_action I also tried reverting back to the user of the EmberCli controller instead of my custom one. But still it won't generate an index.html.

[2015-12-04 21:44] seanpdoyle commented on #287
@jpaas I think I've got it!

Could you please try https://github.com/thoughtbot/ember-cli-rails/pull/327, changing your controller's `index` action to:

[code]

[2015-12-04 21:52] jpaas commented on #287
Sorry @seanpdoyle  but that didn't work

[2015-12-05 01:26] patcoll commented on #298
FWIW @seanpdoyle master seems to have fixed my botched upgrade to 0.5.6 that had the same symptoms mentioned by @thejchap

[2015-12-05 15:13] seanpdoyle commented on #298
Closing based on @patcoll feedback.

This is a part of the [0.5.7](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.5.7) release.

@thejchap please let me know if this didn't resolve your issues.

[2015-12-05 15:13] #298 closed

[2015-12-05 15:22] seanpdoyle commented on #186
@jboler would you mind trying out [the latest release](https://github.com/thoughtbot/ember-cli-rails/releases/latest)?

[2015-12-05 15:31] thejchap commented on #298
@seanpdoyle thanks sounds good. It did not resolve my issues, but I haven't yet had time to investigate/look into it in more detail. If I find out what's going on I'll open a new issue or reply here. Thanks for all your hard work!

[2015-12-07 04:28] jboler commented on #186
With the latest release `rspec -t js` now fails where it used to work. Here's the error, I think the path is wrong because the same broken path is being generated by `include_ember_script_tags :frontend` even when accessing the app in development mode from a browser.
[code]

[2015-12-07 05:20] seanpdoyle commented on #186
@jboler thanks for the update!

How are you serving the ember app?

Have you followed the [instructions for configuring the controller](https://github.com/thoughtbot/ember-cli-rails#configuring-the-ember-controller)?

[2015-12-07 11:36] philipp-spiess opened #328 "Development Cache"
Is it somehow possible to keep a development cache? I'm running a few capybara specs on top of ember-cli-rails and they need to rebuild the whole Ember app all the time. It should be possible to cache the result and just rebuild what has changed (The same way it works currently when you have a rails server running in development). I also don't want to rebuild the whole Ember App when I restart the

[2015-12-07 14:48] seanpdoyle commented on #328
@philipp-spiess thanks for opening this issue.

This is something that is on our radar, but like you're mentioned, might not be easy to accomplish.

PRs are welcome!

[2015-12-07 20:14] jpaas commented on #287
@seanpdoyle any other ideas or things I could do to help figure this out?

[2015-12-07 21:50] patcoll opened #329 "Directory not empty @ dir_s_rmdir [...]/tmp/ember-cli-*"
I am somehow having trouble and getting the following error when starting up fresh.

If I shutdown and run everything again, I no longer get the error. It appears to be a race condition where `rmtree` encounters a non-empty directory when it expects an empty directory.

Patch with `FileUtils.rm_rf` forthcoming.

---

    Directory not empty @ dir_s_rmdir - /Users/collins/git/<app>/tmp/ember-cli-48

[2015-12-07 22:12] seanpdoyle commented on #329
Closed by https://github.com/thoughtbot/ember-cli-rails/commit/9960e5842acf6899f0e2beaebe7c774b7971a1fa

[2015-12-07 22:12] #329 closed

[2015-12-07 22:14] seanpdoyle commented on #329
Released in https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.5.8

[2015-12-07 22:32] patcoll commented on #329
Amazing release turnaround. Thanks Sean!

[2015-12-08 02:47] #328 closed

[2015-12-08 02:49] seanpdoyle commented on #287
@jpaas I've joined BitBucket:

https://bitbucket.org/seanpdoyle/

Would you mind granting me access to the problem repository?

[2015-12-08 03:03] seanpdoyle commented on #318
Unfortunately, `tmp/error.txt` isn't an EmberCLI generated file. The file is [generated by the ember-cli-rails-addon](https://github.com/rondale-sc/ember-cli-rails-addon/blob/a5d2cf050dce8d943f1eced990a535a8f6e7ac11/index.js#L29-L31) addon.

When the gem executes the `ember build --watch` command, the addon's error monitoring gets clobbered by redirecting `STDERR` to `tmp/error.txt` (and vice vers

[2015-12-08 03:35] seanpdoyle commented on #318
@kozak bad news: there isn't a good approach to prevent writing DEPRECATION warnings to `STDERR`.

good news is that @rwjblue has written https://github.com/rwjblue/ember-cli-template-lint, which delays throwing deprecation warnings, pushing them out of build tools and into the browser.

Would you mind adding that addon in combination with https://github.com/rondale-sc/ember-cli-rails-addon/pull/2

[2015-12-08 20:38] jpaas commented on #287
@seanpdoyle sorry it took me a while, I had to free up a developer on our bitbucket plan to add you. I've given you access to 3 repositories. https://bitbucket.org/imdhealth/imdcloud/branch/solano is the branch of the rails app I've been using to muck about with ember-cli-rails. I've also given you access to the ember app repo which is included in the rails app as a git submodule. I've also given

[2015-12-08 21:29] seanpdoyle commented on #287
[code]

What is the behavior you're trying to achieve with this setting?

[2015-12-08 21:44] jpaas commented on #287
Originally when I was trying to setup ember-cli-rails I tried to create a custom ember environment for when it was being run as part of ember-cli-rails. That way I could set the base_url based on wherever it got mounted. But I believe that environment was removed. Is that the problem? That setting is still hanging around and is messing things up?

[2015-12-08 21:51] seanpdoyle commented on #287
@jpaas removing that configuration got the ball rolling.

I don't have much time today to continue digging, but your project's setup is more complicated than the projects I've used the gem on, so it might take some time.

Your bug report uses `render_ember_app`, but your current source code uses the `include_` style helpers. Am I missing something?

[2015-12-08 21:59] jpaas commented on #287
@seanpdoyle Yes I removed it and it got the ball rolling too. I had to run npm i && bower i (which incidentally is not mentioned in the README.md :) )

Thanks so much for having a look at this!

Where do you see these `include_` style helpers? I removed them in favour of `render_ember_app` as you suggested.

Now that its building I actually do want to run the ember app in a custom environment in o

[2015-12-08 22:04] patcoll opened #331 "No such file or directory @ rb_sysopen - /Users/collins/git/<app>/tmp/ember-cli-<uuid>/apps/frontend/index.html"
I am getting this error on startup in development environment, in cases where the first request to Rails is *not* one for my mounted Ember app.

    Errno::ENOENT in Assets#index
    No such file or directory @ rb_sysopen - /Users/collins/git/<app>/tmp/ember-cli-<uuid>/apps/frontend/index.html

When this happens I must restart my local development server and make sure the first request is to `/`,

[2015-12-08 22:05] seanpdoyle commented on #331
@patcoll thanks for bringing this to our attention!

Would you mind trying out https://github.com/thoughtbot/ember-cli-rails/pull/327?

[2015-12-08 22:10] patcoll commented on #331
Is building necessary if I've performed `assets:precompile`? Is it a no-op in that case?

[2015-12-08 22:14] patcoll opened #332 "CI error: No such file or directory @ rb_sysopen - /home/travis/build/luma-institute/<app>/log/ember-frontend.test.log"
I'm getting this error while running controller tests in CI environments. On both Travis CI and CircleCI, in their newest Docker environments.

I'm resorting to the following hack to get around it for now. I don't need to build in production since I run `assets:precompile` before I deploy. My view for my this custom controller uses `render_ember_app` too.

    class AssetsController < ApplicationC

[2015-12-08 22:16] patcoll commented on #331
Yep, I found the `before_action` build workaround in another ticket, but it's causing #332, which I'm working around for now with the code I pasted there. I hope this helps someone. Thanks again for all your help.

[2015-12-08 22:17] seanpdoyle commented on #331
@patcoll currently, it's only a `no-op` outside of `development` and `test` (which assumes that you've `assets:precompile`'d)

https://github.com/thoughtbot/ember-cli-rails/blob/b54ababc950fadbb2f0a61591ace04cbd1f9e5d7/lib/ember_cli/app.rb#L42-L48

[2015-12-08 22:21] patcoll opened #333 "No longer seeing build feedback in stdout (stderr?) after upgrade to 0.5.x"
I used to see first and incremental build times in what I'm assuming was stdout in the 0.4.x versions, but no longer see that. Is there an option to re-enable?

Would also be willing to implement this if pointed in the right direction.

[2015-12-08 22:36] seanpdoyle commented on #333
this was likely affected by https://github.com/thoughtbot/ember-cli-rails/commit/f911bf04f293ee2117f84acf115d93574964dee6.

I'm not sure what behavior you'd like to see. Would you mind elaborating?

[2015-12-08 22:36] jpaas commented on #287
@seanpdoyle update: it is building the ember app now. I can see the symlink to the build in the tmp directory. But there are 2 problems:
1. On first load it always fails to load index.html (unable to open the file)
2. On second load it finds the index.html, but none of the assets are found. 404s:
[code]

[2015-12-08 22:39] seanpdoyle commented on #287
The assets `404` are releated to your `ember-cli-build.js` manually disabling `fingerprint.enabled`, which the `addon` doesn't override if you've already set it:

https://github.com/rondale-sc/ember-cli-rails-addon/blob/a5d2cf050dce8d943f1eced990a535a8f6e7ac11/index.js#L48

[2015-12-08 22:47] patcoll commented on #333
Absolutely. It previously seemed to pipe the output of ember build and watch, which was useful to know how quickly my builds were happening as I developed, helping me make decisions about how to streamline that process.

Now I see no output from the ember commands. It does seem it has to do with the commit you mentioned. I'm not sure how much of an effort it is to restore previous behavior given t

[2015-12-08 23:13] jboler commented on #186
We're not using the Ember index.html. We have a regular Rails app with normal layouts/views so we're just using
[code]
Is there any other configuration that's necessary?

[2015-12-08 23:17] jpaas commented on #287
@seanpdoyle I tried commenting out the configuration of app.fingerprint entirely but it didn't give any different result

[2015-12-09 16:11] kayakyakr commented on #333
+1 on this. There are a bunch of benefits to piping it to stdout for me, including:

1. I get to see recompilation errors immediately and any jshint comments as soon as the file is saved
2. It gives me confirmation that the ember build process is actually running. Spent 2 hours trying to figure out why the output wasn't showing before I realized I needed to check the log directory.

While I can do

[2015-12-09 16:15] kayakyakr commented on #319
Why not hook into the npm install process like:

[code]

Don't have to even worry about what ember-cli-rails is doing that way?

[2015-12-09 16:30] kayakyakr opened #337 "Required version of cocaine too low in gemspec"
With cocaine 0.5.4, I get: ``undefined method `empty?' for #<Pathname>``. I'm receiving this error when the system first attempts to launch ``ember build --watch``

It is tangentially related to this PR: https://github.com/thoughtbot/ember-cli-rails/pull/86 where Pathnames are not strings.

Upgrading to cocaine 0.5.8 makes the problem go away, so there needs to either be a readme note or a gemspec

[2015-12-09 16:32] seanpdoyle commented on #337
Thanks for bringing this to our attention.

Would you mind trying out https://github.com/thoughtbot/ember-cli-rails/pull/338?

[2015-12-09 16:36] kayakyakr commented on #337
Tried. It selects the expected version of cocaine, doesn't throw errors.

[2015-12-09 16:53] dchersey commented on #319
I believe ember-cli does this on it's own. I already do bower install before the rails assets:precompile, which is hooked by ember-cli to do it's own compile. That step seems to involve ANOTHER bower install, and ember-cli can't find bower.

I'm playing with this today; should have an update.

[2015-12-09 17:24] patcoll commented on #331
I still get this error in some cases if I come back to my computer after a bit, with my development server running, still using the `build` workaround documented below. In that case I must restart my dev server, and as long as I hit the mounted Ember app first, all is well. For a while.

The `build` workaround I mentioned above is this (using a custom controller with `mount_ember_app`):

    class

[2015-12-09 17:34] seanpdoyle commented on #331
@patcoll are you using puma or unicorn?

https://github.com/thoughtbot/ember-cli-rails#serving-from-multi-process-servers-in-development

[2015-12-09 17:41] patcoll commented on #331
Yep I've been down that road and solved that already. Using puma with 1 worker process and 16 threads. Equivalent of `puma --workers 1 --threads 16:16`

[2015-12-09 17:41] seanpdoyle commented on #331
@patcoll can you still reporoduce the erratic error with `MAX_THREADS=1`?

[2015-12-09 18:11] egh opened #339 "README references old config values"
The README contains the following text:

These configuration flags do not exist in the codebase. I assume this information is outdated?

[2015-12-09 18:22] patcoll commented on #331
I'll try that setting this week and see if it happens again!

[2015-12-09 18:36] patcoll commented on #331
@seanpdoyle If I use MAX_THREADS=1 I can't reproduce using the original steps I documented in the initial bug report.

I'll continue to monitor this week to see if the intermittent version of this error re-occurs.

[2015-12-09 18:37] patcoll commented on #332
I had removed the `log/.keep` file from my git repo that Rails installs by default, which seemed to be preventing `ember-cli-rails` from creating the appropriate log files. Apparently some code somewhere assumes the `log` folder exists. After I added this file back, tests started passing in CI again, on both Travis CI and CircleCI.

Silly error on my part, but should `ember-cli-rails` compensate f

[2015-12-09 18:37] #332 closed

[2015-12-09 19:12] seanpdoyle commented on #332
@patcoll thanks!

Addressed in https://github.com/thoughtbot/ember-cli-rails/pull/340.

Could you please try that branch out?

[2015-12-09 19:12] seanpdoyle commented on #339
@egh thanks for bringing this to our attention!

[2015-12-09 21:25] egh commented on #339
Thanks! I can easily file a pull request to fix the documentation, but I'm not sure if these have been replaced with other settings.

[2015-12-09 21:28] #337 closed

[2015-12-09 21:34] seanpdoyle commented on #339
@egh they haven't been replaced, they're now obsolete.

I'd gladly review a PR fixing up the docs.

[2015-12-09 21:49] kayakyakr commented on #318
Tangentially related, I received:

``[BABEL] Note: The code generator has deoptimised the styling of "/home/templates..." as it exceeds the max of "100KB".``

Which is a warning of a stupidly long template, but causes the rails server to throw an error even though the build was technically successful. This is with https://github.com/rondale-sc/ember-cli-rails-addon/pull/24

[2015-12-09 21:57] dchersey commented on #319
Ok, it was a path issue. Adding
[code]
to my production.rb in capistrano solved it.

Thanks for your help!

[2015-12-09 22:11] seanpdoyle commented on #319
That's great news @dchersey !

Would you mind opening a PR against the README with your findings?

Closing this for now.

[2015-12-09 22:11] #319 closed

[2015-12-09 22:51] egh commented on #339
#341

[2015-12-09 23:06] kozak commented on #318
@seanpdoyle Sorry for getting back so late. Your suggested setup works fine and displays the correct error message!

[2015-12-09 23:34] sevab commented on #311
As I understand `sd-manifest` has now been merged into master https://github.com/rondale-sc/ember-cli-rails-addon/pull/23, so I have updated the gem to `0.5.8` and `ember-cli-rails-addon 0.5.2`, but the issue remains.

[2015-12-09 23:52] sevab commented on #311
Worth noting that I haven't actually tested `sd-manifest` back when the issue occurred, so I'm not sure whether it fixed my issue in the first place.

[2015-12-10 00:05] seanpdoyle commented on #311
@sevab those changes have probably already been removed in the latest release.

I'm working on releasing `0.6.x` with some breaking changes that simplifies everything.

I'll also be updating an example repository that will hopefully clarify how the library is to be used.

Updates are forthcoming...

[2015-12-10 00:27] sevab commented on #311
@seanpdoyle thank you!

[2015-12-10 01:00] seanpdoyle commented on #311
@sevab would you mind trying out:

* https://github.com/thoughtbot/ember-cli-rails/tree/remove-sprockets for `ember-cli-rails` gem
* https://github.com/rondale-sc/ember-cli-rails-addon/tree/remove-sprockets for `ember-cli-rails-addon`

Each of those branches has up-to-date README's.

[2015-12-10 01:00] seanpdoyle commented on #287
@jpaas would you mind trying out:

* https://github.com/thoughtbot/ember-cli-rails/tree/remove-sprockets for `ember-cli-rails` gem
* https://github.com/rondale-sc/ember-cli-rails-addon/tree/remove-sprockets for `ember-cli-rails-addon`

Each of those branches has up-to-date README's.

[2015-12-10 01:01] seanpdoyle commented on #186
@jboler  would you mind trying out:

* https://github.com/thoughtbot/ember-cli-rails/tree/remove-sprockets for `ember-cli-rails` gem
* https://github.com/rondale-sc/ember-cli-rails-addon/tree/remove-sprockets for `ember-cli-rails-addon`

Each of those branches has up-to-date README's.

[2015-12-10 01:02] seanpdoyle commented on #114
Would anyone still seeing this problem pleae try out:

* https://github.com/thoughtbot/ember-cli-rails/tree/remove-sprockets for `ember-cli-rails` gem
* https://github.com/rondale-sc/ember-cli-rails-addon/tree/remove-sprockets for `ember-cli-rails-addon`

Each of those branches has up-to-date README's.

[2015-12-10 01:02] seanpdoyle commented on #331
@patcoll  would you mind trying out:

* https://github.com/thoughtbot/ember-cli-rails/tree/remove-sprockets for `ember-cli-rails` gem
* https://github.com/rondale-sc/ember-cli-rails-addon/tree/remove-sprockets for `ember-cli-rails-addon`

Each of those branches has up-to-date README's.

[2015-12-10 01:26] sevab commented on #311
@seanpdoyle  Throws `EmberCli::BuildError` for `= include_ember_script_tags :frontend`

[2015-12-10 01:27] sevab commented on #311
Sorry, didn't read the updated README yet.

[2015-12-10 02:25] sevab commented on #311
Reading the documentation for the `remove-sprockets` branch, I'm a bit confused. Since I'm only injecting EmberCLI-generated assets selectively, do I also need to call `EmberCli.build("frontend")` in the controller actions where I inject the assets as well as `mount_ember_app :frontend` on those routes?

By only including `= include_ember_script_tags :frontend` in the views where I need the ember

[2015-12-10 04:04] seanpdoyle commented on #311
yes, the call to `mount_ember_app` is necessary no matter the type of helper used in the view.

Does it still error when you use:

1. `mount_ember_app :frontend, to: "/the-frontend-path", controller: "the_frontend_controller"`
1. `EmberCli.build(:frontend)` in the controller action
1. `include_ember_script_tag :frontend` in the view

If so, would you mind sharing the stack trace?

Are you using th

[2015-12-10 04:15] seanpdoyle commented on #311
I'm hopeful we can get this fix landed and stabilize things for you.

Having said that, we don't plan on supporting the `include_ember_*_tags` helpers in post-`1.0.0` versions of this gem.

It is likely they'll be extracted to a stable gem, but I highly recommend you migrate toward using the `render_ember_app` helper, which relies 100% on EmberCLI to generate the page's HTML.

[2015-12-10 04:16] seanpdoyle commented on #186
I'm hopeful that we can get this fix landed and stabilize things for you.

Having said that, we don't plan on supporting the `include_ember_*_tags` helpers in post-`1.0.0` versions of this gem.

It is likely they'll be extracted to a stable gem, but I highly recommend you migrate toward using the `render_ember_app` helper, which relies 100% on EmberCLI to generate the page's HTML.

[2015-12-10 04:16] seanpdoyle commented on #285
Closing in favor of https://github.com/thoughtbot/ember-cli-rails/pull/336

[2015-12-10 04:16] #285 closed

[2015-12-10 04:17] seanpdoyle commented on #287
I'm hopeful that we can get this fix landed and stabilize things for you.

Having said that, we don't plan on supporting the `include_ember_*_tags` helpers in post-`1.0.0` versions of this gem.

It is likely they'll be extracted to a stable gem, but I highly recommend you migrate toward using the `render_ember_app` helper, which relies 100% on EmberCLI to generate the page's HTML.

[2015-12-10 04:20] sevab commented on #311
Yep, using `"ember-cli-rails-addon": "rondale-sc/ember-cli-rails-addon#remove-sprockets"`.

Following the 3 steps and also including `<base href="/">` in the view still getting 404s on `http://localhost:3000/assets/frontend.js` & `vendor.js`

Stack trace:
[code]

Yep, planning to migrate everything to Ember-CLI in the next month or two!

[2015-12-10 04:23] seanpdoyle commented on #311
@sevab would you be comfortable granting me access to the problem application?

If not, would you mind trying to reproduce the bug in a sample application?

[2015-12-10 04:33] seanpdoyle commented on #311
@sevab The second commit of https://github.com/seanpdoyle/ember-cli-rails-heroku-example/tree/remove-sprockets

https://github.com/seanpdoyle/ember-cli-rails-heroku-example/commit/529f897f15c53d95f0d33490fb8a9e52e8607fe7

Contains the entirety configuring an `include_ember_*_tags` application. (It powers https://ember-cli-rails-heroku-example.herokuapp.com/admin/)

[2015-12-10 04:59] sevab commented on #311
Tried reproducing in a sample app, but everything actually worked, so it's probably something with the asset pipeline in my main app, will investigate and report any findings.

In the meantime in both `v0.5.8` and `remove-sprockets` branch, command `rails generate ember:init` throws `Could not find generator 'ember:init'. Maybe you meant 'ember:init' or 'ember:heroku' or 'erb:mailer' Run `rails ge

[2015-12-10 05:00] seanpdoyle commented on #212
Would you mind trying out:

* https://github.com/thoughtbot/ember-cli-rails/tree/remove-sprockets for `ember-cli-rails` gem
* https://github.com/rondale-sc/ember-cli-rails-addon/tree/remove-sprockets for `ember-cli-rails-addon`

Each of those branches has up-to-date README's.

---

I'm hopeful that we can get this fix landed and stabilize things for you.

Having said that, we don't plan on support

[2015-12-10 05:02] seanpdoyle commented on #311
@sevab thanks for all this information!

the generator namespace rename landed in https://github.com/thoughtbot/ember-cli-rails/commit/0eebed8ca8859c28bbe10633b7dc3d7b24bd999a.

`remove-sprockets` was then rebased to include that commit.

Do you still get those errors if you `bundle update ember-cli-rails`?

[2015-12-10 05:03] seanpdoyle commented on #311
**NOT** depending on integrating with the asset pipeline is the entire reason for the `remove-sprockets` branch!

[2015-12-10 05:09] seanpdoyle commented on #339
https://github.com/thoughtbot/ember-cli-rails/pull/341#issuecomment-163485946

[2015-12-10 05:09] #339 closed

[2015-12-10 05:09] sevab commented on #311
`rails generate ember:init` throws an error for both
`gem "ember-cli-rails"` and `gem "ember-cli-rails", github: "thoughtbot/ember-cli-rails", branch: "remove-sprockets"`

obviously running a `bundle update ember-cli-rails` for each.

[2015-12-10 05:10] seanpdoyle commented on #311
@sevab have you tried running `spring stop` before the generator?

[2015-12-10 05:12] seanpdoyle commented on #311
@sevab fixed in https://github.com/thoughtbot/ember-cli-rails/pull/345

[2015-12-10 05:17] sevab commented on #311
Great!

Yep, `spring stop` didn't help.

[2015-12-10 05:26] seanpdoyle commented on #311
@sevab generator fix has been merged and is ready to go

[2015-12-10 05:34] sevab commented on #311
Master now works!

[2015-12-10 05:37] sevab commented on #311
But `branch: "remove-sprockets"` throws an error:
[code]

[2015-12-10 05:40] seanpdoyle commented on #311
@sevab would you mind sharing the example repo (and your original repo, if you'd like) with me?

leads me to believe your initializer hasn't been created, or isn't executing properly.

[2015-12-10 05:59] sevab commented on #311
Yeah, I removed `config/initializers/ember.rb` before running `rails generate ember:init` to test that it works in "remove-sprockets".

This is the sample app: https://github.com/sevab/ember-cli-rails-demo
Unfortunately, I can't share the original repo, but I'll try to find and report the problem with `include_ember_script_tags` in 10-13 hours (it's now 6am here in UK).

[2015-12-10 08:48] mufid opened #346 "No `build` method"
In `README`, we are instructed to do

[code]

for manual building. However, it does not work. When i try to `ls` EmberCLI, there is no such method.

[code]

Should the readme changed to `compile!` too? Or is there any other recommended way?

[2015-12-10 09:27] pubis commented on #346
The commit (c2a80be36404abac6ab2233eb5c272934a0ba32b) that introduced explicit build has not been released yet.

Until released, you should be able to:
[code]

[2015-12-10 09:43] wjdhamilton commented on #114
Unfortunately I still get the ``symlink() function is unimplemented on this machine`` error.

Gemfile:
[code]
and package.json from ember:

[code]
Running on 64-bit Windows 7 Professional Service Pack 1

[2015-12-10 10:13] JanJacobs commented on #114
I implemented the changes from *swelham*
"The issue here is that windows doesn't support symlinks in the same way. See my PR #136 which solves this issue (based on my tests) using the mklink windows command."

Additionally I had to make the following changes

*ember-cli\app_win.rb*
OLD:
<pre>
@ember_path ||= app_path.join
</pre>
NEW:
<pre>
ember_path ||= Rails.root.join
</pre>

I also had change t

[2015-12-10 13:52] seanpdoyle commented on #114
@wjdhamilton it sounds like you're running off of `master`.

To run the branches I suggested, you'll need to modify your `Gemfile` and Ember's `package.json`:

[code]

[code]

[2015-12-10 13:55] seanpdoyle commented on #346
Thanks @pubis, you're right, the README.md is a bit ahead of the game.

@mufid if you're building `0.5.8` (the latest release), read along here:

https://github.com/thoughtbot/ember-cli-rails/blob/v0.5.8/README.md

[2015-12-10 13:55] #346 closed

[2015-12-10 14:11] seanpdoyle commented on #114
@JanJacobs thanks for sharing those Windows fix proposals.

Unfortunately, I don't have access to a Windows machine to verify their validity.

There is a branch that introduces AppVeyor for CI testing:

https://github.com/thoughtbot/ember-cli-rails/pull/291

Would you mind helping to create windows versions of:

* [`bin/setup`](https://github.com/thoughtbot/ember-cli-rails/blob/master/bin/setup) -

[2015-12-10 14:21] mufid commented on #346
My bad, i didn't notice it was edge version of README. Thanks!

[2015-12-10 14:26] jgadbois commented on #212
@seanpdoyle we have a hybrid app, so removing the tag helpers would definitely be a big negative for me.

[2015-12-10 14:27] jgadbois commented on #212
It seems like my hybrid case would be common for this gem.  If completely rendering with Ember, I'd just have an ember-cli app that called a Rails API application.

[2015-12-10 14:37] seanpdoyle commented on #212
@jgadbois thanks for the feedback!

I'm not sure what you mean by "hybrid" app, but if you mean embedding markup from Rails into an Ember app, that's achievable with the `render_ember_app` helper.

To learn more, read [Overriding the view](https://github.com/thoughtbot/ember-cli-rails/blob/remove-sprockets/README.md#overriding-the-view).

There are numerous issues with the `include_ember_*_helpers

[2015-12-10 14:45] jgadbois commented on #212
@seanpdoyle that makes sense I think.  By hybrid I just mean that some of our pages our completely rendered by Rails (most of our public facing pages), but our dashboard pages are all powered by Ember (but within the same Rails layout).

So for us it makes sense to have the header/footer/css always controlled by Rails and the Asset Pipeline.

I think with overrides it looks like that will still wo

[2015-12-10 14:48] seanpdoyle commented on #212
@jgadbois correct.

`render_ember_app` still supports injecting any arbitrary markup managed by your rails app (HTML tags, additional `<script>` tags, additional stylesheet `<link>` tags, etc).

[2015-12-10 14:56] JanJacobs commented on #114
I want to help, yes please.
Just a bit crazy at the office at the moment, by next week most of SA is on holiday and then I can get some work done:))

[2015-12-10 15:26] seanpdoyle commented on #311
@sevab would you mind trying out https://github.com/thoughtbot/ember-cli-rails/pull/347?

It removes the need for the consumer (you) to manually invoke `EmberCli.build`.

[2015-12-10 15:26] seanpdoyle commented on #186
@sevab would you mind trying out https://github.com/thoughtbot/ember-cli-rails/pull/347?

It removes the need for the consumer (you) to manually invoke `EmberCli.build`.

[2015-12-10 15:27] seanpdoyle commented on #346
would you mind trying out https://github.com/thoughtbot/ember-cli-rails/pull/347?

It removes the need for the consumer (you) to manually invoke `EmberCli.build`.

[2015-12-10 15:27] seanpdoyle commented on #287
@sevab would you mind trying out https://github.com/thoughtbot/ember-cli-rails/pull/347?

It removes the need for the consumer (you) to manually invoke `EmberCli.build`.

[2015-12-10 16:04] patcoll commented on #331
Using those seem to work -- all my smoke tests pass as before, and my quick manual check was good too.

The paths changed for some assets. The paths changed from having a prefix of `/assets/frontend/'` to having no prefix at all, so my vendor CSS path went from `/assets/frontend/assets/vendor.css` to just `assets/vendor.css`.

Some questions:

- I realize this is cleaner, but I worry that I'm just

[2015-12-10 16:08] seanpdoyle commented on #331
@patcoll checkout the second commit of https://github.com/seanpdoyle/ember-cli-rails-heroku-example/tree/remove-sprockets

It adds support for a second Ember app mounted elsewhere

[2015-12-10 17:23] patcoll commented on #333
From initial research it seems that the implementation is deferring to `Kernel.system`, which waits until the command is over, buffering the output in the process. This could be changed to use `Kernel.spawn`.

[2015-12-10 17:39] patcoll commented on #331
I like the coincidence that the paths line up with your sample app when developing locally for `assets/vendor.css` and `admin/assets/vendor.css` but I wonder if it's better to have those paths be explicitly absolute, like I mentioned above, since we already know where the apps are mounted. This would restore previous similar behavior.

[2015-12-10 17:56] seanpdoyle commented on #331
What is the difference in behavior between two URLs that are different, but both served properly?

[2015-12-10 18:28] seanpdoyle commented on #311
@sevab `remove-sprockets` has been merged into `master`.

`master` also now contains https://github.com/thoughtbot/ember-cli-rails/commit/2b26309c075e90c6e567df85bdde8d10f135dfd9 which removes the burden you consumers manually calling `EmberCli.build`.

Would you mind trying out `master` in your application?

[2015-12-10 18:44] sevab commented on #311
@seanpdoyle Found the issue in the original app: I wasn't mounting the ember app properly in the routes.

Having now fixed my routes I can confirm that both `0.5.8.` and `master` work well, but with `remove-sprockets` merged, master now obviously requires to include `<base href="/">`

[2015-12-10 18:48] patcoll commented on #331
The behavior I'm looking for can be accomplished by simply adding a leading slash to paths in the `index.html` file.

I changed:

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/frontend.css">

    <script src="assets/vendor.js"></script>
    <script src="assets/frontend.js"></script>

To this:

    <link rel="stylesheet" href="/assets/vendor.css">

[2015-12-10 18:50] sevab commented on #311
@seanpdoyle I think it might be worthwhile mentioning in the **Rendering the EmberCLI generated JS and CSS** section of README that the app needs to be mounted separately on each route where the assets are included, as this was my source of confusion as I mistakenly assumed that it needs to be mounted only on `mount_ember_app :frontend, to: "/"`.

I can submit a pull request if you wish.

[2015-12-10 18:53] sevab commented on #311
Actually, the README is pretty clear about this, I guess I just misunderstood it.

[2015-12-10 19:09] patcoll commented on #331
I still rarely (intermittently, again) get a similar error to the original one reported here, while using the remove-sprockets stuff. I put it in a gist here: https://gist.github.com/patcoll/c3aa88e69a191fbb7721 (easiest solution is to download ZIP and drag into a browser).

I need a custom controller, so the current workaround that seems to work is this:

    class AssetsController < EmberCli::Em

[2015-12-10 19:24] sevab commented on #311
Also, it seems that mounting ember just once on the root route at the very bottom of `routes.rb` is enough even though I don't even include ember assets on that route.

[2015-12-10 19:28] seanpdoyle commented on #331
@patcoll `remove-sprockets` was merged into `master`.

Also, https://github.com/thoughtbot/ember-cli-rails/commit/2b26309c075e90c6e567df85bdde8d10f135dfd9 was merged as well, which removes the burden of invoking `EmberCli.build` from the consumer.

Also, if you have a single EmberCLI application, and the only thing you're altering is the view, you can avoid routing to your custom controller and [o

[2015-12-10 19:29] seanpdoyle commented on #331
Yes, I understood the outcome that you desired, but what is the difference in *behavior*?

EmberCLI's generated `index.html` uses relative paths, which refer to assets that Rails knows how to serve.

This gem has no business altering asset URLs in that generated `index.html`.

[2015-12-10 19:31] seanpdoyle commented on #311
@sevab an Ember app mounted to `"/"` shouldn't require `<base href="/">`.

[2015-12-10 19:42] jpaas commented on #287
I tried the two remove-sprockets branches, but got the following:
[code]

To try #347, I should use master along with 0.5.2 of addon?

[2015-12-10 19:43] patcoll commented on #331
FWIW, even with `ember-cli-rails` https://github.com/thoughtbot/ember-cli-rails/commit/2b26309c075e90c6e567df85bdde8d10f135dfd9 and the latest workaround documented above, I am still getting the error linked to in the gist. Specifically: `EmberCLI failed to generate an index.html file.` Also, using https://github.com/rondale-sc/ember-cli-rails-addon/commit/cadb98ad22462664fda501fb7213649123fd4c63

[2015-12-10 19:51] seanpdoyle commented on #287
@jpaas could you try `master` of both the gem and the addon?

[2015-12-10 19:54] seanpdoyle commented on #331
Hmm.

Are you sure you're on that commit of the addon? NPM can be very finnicky.

I'm not sure how to proceed with this.

Would you feel comfortable granting me temporary access to the problem repository?

[2015-12-10 19:54] jpaas commented on #287
@seanpdoyle same result. It's definitely trying to build because there's a large pause once it hits the controller, but before the error.

[2015-12-10 19:59] patcoll commented on #331
Behavior with relative asset URLs in well-behaved browsers seems identical. I fear incompatibility with poor browser implementations of the HTML5 History API (a misbehaving browser could misinterpret a request for `assets/vendor.css` while browsing `http://site/admin/nested/path` as `http://site/admin/nested/path/assets/vendor.css`), but I have no proof of strange behavior in any browser I have ac

[2015-12-10 19:59] seanpdoyle commented on #287
@jpaas the second commit of https://github.com/seanpdoyle/ember-cli-rails-heroku-example/tree/remove-sprockets contains everything necessary to serve an Ember app. Could you try using that as a reference?

[2015-12-10 20:02] patcoll commented on #331
I have a script I use to remove all NPM and Bower libs, clear both NPM and Bower caches, then re-install all libs. I ran my server again and the first time the page loads, I still get the error.

[2015-12-10 20:02] sevab commented on #311
@seanpdoyle for some reason the assets fail to load without `<base href="/">` even when mounted on '/'.

Also, it seems that without mounting it on the root the assets fail to load too. Mounting it on the route where I am using it (e.g. `mount_ember_app :frontend, to: 'my/stuff', controller: 'user_panel', action: 'my'`) is ignored.

[2015-12-10 20:02] seanpdoyle commented on #331
@patcoll I have some concerns about as well, but given the fact that we're encouraging users to use the `render_ember_app`, which used the EmberCLI generated `index.html`, we won't have to worry (we'll benefit from EmberCLI changes for free).

In production systems, most EmberCLI applications will set the `fingerprint.prepend` option to point to their CDN, so real users shouldn't ever deal with th

[2015-12-10 20:04] seanpdoyle commented on #331
The fact that we can't get this to work is disconcerting.

Have you tried using the second commit of https://github.com/seanpdoyle/ember-cli-rails-heroku-example/tree/remove-sprockets as a reference?

[2015-12-10 20:05] seanpdoyle commented on #311
What if you mount `to: "/my/stuff"` (note the leading `"/"`)

[2015-12-10 20:05] patcoll commented on #331
Also FWIW, I never seem to run into the issue in a `test` environment. All Capybara tests pass in all CI environments we use, so whatever Rack server that Capybara runs (still WEBrick?) doesn't seem to trigger the same behavior that PUMA does.

[2015-12-10 20:06] sevab commented on #311
@seanpdoyle 404s on both.

[2015-12-10 20:07] sevab commented on #311
The current solution of simply mounting it on the root at the very bottom seems like a hack, but it works.

[2015-12-10 20:07] seanpdoyle commented on #311
@sevab what about that feels like a hack?

What is the route you're serving your Ember application from?

[2015-12-10 20:10] seanpdoyle commented on #331
@patcoll are you on ScreenHero?

I'm seandoyle at thoughtbot.com if you'd like to try devoting 3 minutes to air pair through this

[2015-12-10 20:14] patcoll commented on #331
I've definitely used that as a reference, indeed, as we've been debating the finer points of relative asset URLs and fingerprinting ;)

Are you talking about https://github.com/seanpdoyle/ember-cli-rails-heroku-example/commit/65b3fd2dfdff63c483554462216d333df4952aab?

FWIW the `Gemfile.lock` on that commit references https://github.com/thoughtbot/ember-cli-rails/commit/ffb7c2d71f443d993d39a474a951

[2015-12-10 20:22] jpaas commented on #287
@seanpdoyle I started following that checkin as a guide to eliminate any differences I had. It was only when I noticed that the remove-sprockets example uses the `include_ember_*` tags. So I tried switching back from `render_ember_app` and it started to work.

[2015-12-10 20:25] sevab commented on #311
the fact that I'm not including ember assets on the root route seems like hack. Also, the fact that it catches all non-existent routes and renders ember's blank `index.html` page in their place. As such I have to redirect it to a non-existent controller to have rails show users an error message telling that the route doesn't actually exist, e.g.:
[code]

`root 'existing_controller#landing_page'` i

[2015-12-10 20:35] sevab commented on #311
I'm not serving the Ember app from any routes, just including ember assets selectively in some rails views via `= include_ember_script_tags :frontend`.

I'm including Ember assets as part of the rails view on 'my/stuff' and some other routes. Again, everything now works with the current approach of mounting the app on root at the very bottom of `routes.rb`, even though it seems like a hack.

[2015-12-10 20:46] seanpdoyle commented on #287
Yes, that example demonstrates how to use `include_ember_*_tags`.

I **STRONGLY** recommend you avoid that approach if you can. I'm curious to see where the `mount_ember_app` is failing for you.

[2015-12-10 20:47] seanpdoyle commented on #311
@sevab thanks for providing all that extra context!

I have a better understanding of what you're experiencing now.

This is GREAT NEWS, since your current setup doesn't really fit into the use-cases we'd like to support.

[2015-12-10 20:49] sevab commented on #311
@seanpdoyle thank you for all the guidance and the great work on the gem!

[2015-12-10 20:55] jpaas commented on #287
@seanpdoyle You've told me to avoid those tags a few times so I've been using `render_ember_app`. How we we diagnose what's going wrong with it?

[2015-12-10 20:57] seanpdoyle commented on #311
@sevab how would you feel about a routing API that is purely concerned with serving Ember's assets:

[code]

This would allow you to embed the `include_ember_*_tags` wherever you'd like, so long as the `<base>` tag's `href` attribute was set to the proper prefix.

For example, for serving assets from `/a/nested/page`, you'd need to either:

* `mount_ember_assets :frontend, to: '/a/nested/page/`
*

[2015-12-10 21:12] patcoll commented on #331
I was able to avoid this error by ensuring the index.html file exists before the build is declared done. See referenced pull request..

[2015-12-11 02:08] #311 closed

[2015-12-11 02:29] seanpdoyle commented on #331
@patcoll would you mind using this branch of the addon:

https://github.com/rondale-sc/ember-cli-rails-addon/pull/27

I'm very hopeful this will resolve the race condition

[2015-12-11 03:22] seanpdoyle commented on #333
https://github.com/thoughtbot/ember-cli-rails/pull/351

[2015-12-11 03:48] seanpdoyle commented on #318
@kayakyakr addressed in https://github.com/babel/babel/pull/3156

[2015-12-11 03:48] #333 closed

[2015-12-11 09:55] wjdhamilton commented on #114
@seanpdoyle I've just tried a fresh app with the two links that you suggested, however the app now reports: ``No `ember-cli` executable found for `frontend`. Install it: $ cd C:/sites/ember-cli-rails-windows-test/frontend $ npm install``. I have definitely run npm install in frontend.

[2015-12-11 12:57] #331 closed

[2015-12-11 13:25] seanpdoyle commented on #311
@sevab does https://github.com/thoughtbot/ember-cli-rails/pull/352 scratch this itch?

[2015-12-11 14:05] seanpdoyle commented on #318
@kayakyakr according to to maintainer of Babel:

https://github.com/babel/babel/pull/3156#issuecomment-163938591

[2015-12-11 15:34] kayakyakr commented on #318
I've stopped receiving the error, though, so I can't dig deeper right now...

The worst thing is that it's coming from a handlebars template that's around 10k in size. A 250 line, 8000 character template explodes into a 99,000 character js file. Yikes.

[2015-12-11 17:21] sevab commented on #311
@seanpdoyle wow, yes, this is much better!

[2015-12-11 20:21] fusion2004 opened #353 "Serving ember assets over CDN"
With the changes in 0.6.0 to remove the sprockets integration, is there a recommended way to serve the ember assets via CDN rather than just the mounted Rack::File routes?

[2015-12-11 20:31] seanpdoyle commented on #353
@fusion2004 you can serve assets over a CDN like you would with any other Ember application --
by prepending the CDN URL:

http://ember-cli.com/user-guide/#fingerprinting-and-cdn-urls

[code]

As long as your [CDN first pulls from your Rails application](https://robots.thoughtbot.com/dns-cdn-origin), your assets will be served through it on subsequent calls.

[2015-12-11 20:57] seanpdoyle commented on #353
Thanks for bringing this gap in documentation to our attention:

https://github.com/thoughtbot/ember-cli-rails/pull/354

[2015-12-11 20:59] #353 closed

[2015-12-11 21:17] seanpdoyle commented on #186
@jboler [`0.6.0` has landed](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.6.0) and removes all sprockets integration.

I'm closing this issue.

Please try out the new version.

[2015-12-11 21:17] #186 closed

[2015-12-11 21:19] seanpdoyle commented on #287
@jpaas  [`0.6.0` has landed](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.6.0) and removes all sprockets integration.

Also, `0.6.0` of the addon includes https://github.com/rondale-sc/ember-cli-rails-addon/commit/98f05c91ac71ee5963351ffe73e1238e8c29d59a, which should hopefully fix your `EmberCLI failed to generate an `index.html` file.` issue.

I'm closing this issue.

Please try

[2015-12-11 21:19] #287 closed

[2015-12-11 22:17] fusion2004 commented on #353
No problem, it took me a bit to get it to work though.

I'm using the include_* asset helpers to include ember into arbitrary non-root pages, and by default those helpers were outputting paths like `assets/frontend.css` which would not work on non-root pages.

The fix was to enable fingerprinting for all environments, and add a prepend of '/'.

Thanks!

[2015-12-11 22:25] seanpdoyle commented on #353
@fusion2004 if you'd like to avoid fingerprinting in all environments, you might want to try out `master`, particularly `mount_ember_assets`:

https://github.com/thoughtbot/ember-cli-rails#mounting-multiple-ember-applications

[code]

[2015-12-14 21:26] cometman opened #358 "Passed.png asset not generated on bootstrap"
Creating new app from the installation guide produces a missing `passed.png` asset.  This asset should be found after generating the application within `/frontend/bower_components/ember-qunit-notifications/passed.png`

Downloading the asset manually from https://github.com/dockyard/ember-qunit-notifications/blob/master/passed.png as a quick fix.

Ruby 2.1.1 Rails 4.2.5

[2015-12-14 21:28] seanpdoyle commented on #358
@cometman thanks for opening this issue.

I'm not sure I understand how this error came about, This sounds like am EmberCLI issue.

In what way? Are you running `ember new`? What is complaining about the missing asset?

[2015-12-15 19:04] cometman commented on #358
You are right, looks like an issue with EmberCLI.

Yes, this happens when creating a new app with `ember new`.

`Error: ENOENT, no such file or directory 'front-end/tmp/funnel-input_base_path-dpVf9ewX.tmp/0/bower_components/ember-qunit-notifications/passed.png'
    at Error (native)
    at Object.fs.lstatSync (fs.js:796:18)
    at symlink (/Users/Clay/Developer/ember-api-front-end/node_modules/emb

[2015-12-15 19:14] seanpdoyle commented on #358
Closing in favor of https://github.com/ember-cli/ember-cli/issues/5226

Thanks!

[2015-12-15 19:14] #358 closed

[2015-12-15 19:23] kayakyakr opened #359 "Without Sprockets, ember-cli-rails no longer serves source map."
Commit [ffb7c2d](https://github.com/thoughtbot/ember-cli-rails/commit/ffb7c2d71f443d993d39a474a9517c318ddd4508) removed the dependency on sprockets, but in doing so, the server no longer either generates or serves a js source map file. What this means for users is that the code is displayed in the developer tools as one giant file instead of a debug-able collection of little files. And when you've

[2015-12-15 20:12] seanpdoyle commented on #359
@kayakyakr EmberCLI will generate source maps in development, by default.

http://ember-cli.com/user-guide/#source-maps

Have you disabled this configuration?

[2015-12-15 20:23] kayakyakr commented on #359
They are being generated, but not served. This is with the ``include_ember_script_tags`` method, if that affects anything?

[2015-12-15 20:30] seanpdoyle commented on #359
That's strange, when I run:

https://github.com/seanpdoyle/ember-cli-rails-heroku-example

locally, I'm not seeing that behavior.

Maybe it's a browser issue? Would you mind cloning that repo and trying to view source code locally?

[2015-12-15 22:07] kayakyakr commented on #359
Interesting. My ember app is named "home" and is located in "app/home"

The map file that is being generated is generated as /app/home.map. The source map line that is being added to the compiled home.js is /assets/home/assets/home.map, which sprockets seems to understand, somehow.

Any idea what would be causing that double-nested asset path?

[2015-12-15 22:34] seanpdoyle commented on #359
For starters -- probably totally unrelated -- I would recommend that you **DO NOT** nest your frontend in your Rails `app/` directory, as Rails does a lot with that directory, and having an infinitely deep `node_modules` and `bower_components` directory will likely complicate things and add some hiccups to your performance.

[2015-12-15 22:35] seanpdoyle commented on #359
@kayakyakr given the `/assets/home` prefix in your `/assets/home/assets/home.map` path, it looks like you're either:

* prepending onto your path from `home/ember-cli-build.js`
* a `<base href="/assets/home">` tag is messing with some paths

Are either of those assumptions accurate?

[2015-12-15 22:41] kayakyakr commented on #359
[code]

and

[code]

And good to know about the app, though it feels dirty to me to not have that be nested under the app tree.

[2015-12-15 22:42] seanpdoyle commented on #359
@kayakyakr what version of https://github.com/rondale-sc/ember-cli-rails-addon/ are you on?

[2015-12-15 22:43] kayakyakr commented on #359
``"ember-cli-rails-addon": "rondale-sc/ember-cli-rails-addon#sd-build-error"``

That's the un-merged PR 24.

[2015-12-15 22:45] kayakyakr commented on #359
That was it. Upgraded and it works.

[2015-12-15 22:48] kayakyakr commented on #359
Thanks @seanpdoyle, sorry for wasting a bunch of your afternoon on version incompatibilities.

[2015-12-15 22:48] #359 closed

[2015-12-15 22:48] seanpdoyle commented on #359
:clap: thanks for opening this issue!

[2015-12-15 22:49] seanpdoyle commented on #359
No sweat! I'm at fault too, I'm the one who told you to try out that feature branch

[2015-12-15 23:21] henrymazza commented on #359
Got bitten by the wrong addon version too! Time to raise a warning?!

[2015-12-15 23:34] kayakyakr commented on #359
Don't want to write a new issue for this: For some reason, in my staging environment, I'm seeing an ``ember build --watch  --environment 'development'`` being launched. From what I can tell from the code, it shouldn't be launching a build and watch command, but it is.

[2015-12-15 23:46] kayakyakr commented on #359
Ah, hm, this might actually be worth a new issue.

[2015-12-15 23:57] seanpdoyle commented on #359
@kayakyakr please open the issue, but I have a hunch it has to do with:

https://github.com/thoughtbot/ember-cli-rails/blob/7e8cd937ea097b8ec36251a06d647405420e5a9a/lib/ember_cli/helpers.rb#L27

If you set `config.consider_all_requests_local = false` it should treat it as a production environment.

That's been in the code base long before I inherited it, so I don't quite understand the repercussio

[2015-12-16 00:28] kayakyakr commented on #359
Yeah, that's exactly what it was. I'll open a new issue, but I don't know if there will be an action taken.

[2015-12-16 00:35] henrymazza opened #360 "Bower assets"
On 0.6.0 these paths stopped working:
[code]
Were there changes on how to get these bower assets?

[2015-12-16 00:36] kayakyakr opened #361 "Setting consider_all_requests_local to true launches build_and_watch in non-dev environments"
This bit of code seems to default the environment to 'development' and overrides when consider_all_requests_local is set to true in other environments.

[code]

This is particularly a gotcha in a staging environment which may be running requests as local. I don't know if it would be beneficial to remove that dependency, though. Have to watch that, as I had 4 ``build --watch`` instances running thr

[2015-12-16 01:28] kayakyakr commented on #319
I just wanted to add, I found a slightly different solution using the capistrano-nvm gem:

[code]

The key is the :nvm_map_bins which run on rake. This ensures the nvm environment is run for the precompile assets which is a rake task. I've also got bower as an npm dependency, so I'm running that with:

[code]

[2015-12-16 01:51] kayakyakr commented on #360
This might be the same thing I was just hit with. Are they accessibly under `/assets/intl/...` ? Did you upgrade your version of ember-cli-rails-addon to the most recent master?

[2015-12-16 02:31] seanpdoyle commented on #360
@henrymazza was this related to https://github.com/thoughtbot/ember-cli-rails/issues/359#issuecomment-164933675?

Is this resolved?

[2015-12-16 02:32] seanpdoyle commented on #319
@kayakyakr thanks for that information!

I'm inexperienced with capistrano and ember-cli-rails. Would you mind opening a PR to the README that better explains how to set it up?

[2015-12-16 02:37] seanpdoyle commented on #361
@kayakyakr thanks for opening this issue after resolving your strange behavior.

I'm a little confused by your suggestion:

[code]

Wouldn't `consider_all_requests_local` be set to `false` in your staging environment (in the scenario you've explained). Wouldn't this cause `ember build --watch` to be executed?

This behavior should definitely be explained better.

What is your particular use case?

[2015-12-16 03:24] kayakyakr commented on #361
Hm, you're right, that doesn't really gain much. It actually just prioritizes consider_all_requests_local over environment.

Ideally, for me, anything that isn't development would come through as production, regardless of the state of consider_all_requests_local. The main purpose of that is to display rails server errors instead of generic errors, no?

Ember-cli doesn't have quite as much knowledg

[2015-12-16 16:42] henrymazza commented on #360
No! Actually the version didn’t help! 
Found what was wrong, the path changed from 

`/assets/frontend/assets/intl/intl.min.js`

to

`/home/assets/intl/intl.min.js`

My route.rb is configured as:

`mount_ember_app :frontend, to: "/home/", controller: "home", action: “index"`

I think it must be due to the elimination of Sprockets as a dependency, right!? I don’t know if the latter form resolved to

[2015-12-16 16:46] henrymazza commented on #360
Actually the `ember-cli-rails-addon` version didn’t help!
I just found what was wrong, the path must be changed from
`/assets/frontend/assets/intl/intl.min.js`
to
`/home/assets/intl/intl.min.js`

My route.rb is configured as:

`mount_ember_app :frontend, to: "/home/", controller: "home", action: “index"`

I think it must be due to the elimination of Sprockets as a dependency, right!? I don’t know

[2015-12-16 16:46] #360 closed

[2015-12-16 16:47] henrymazza commented on #360
It's the third time in a few versions it changes! Luckly it's an edge case and the latest is the best so far! 👍

[2015-12-16 16:49] seanpdoyle commented on #360
@henrymazza are you managing the creation of this URL yourself? The version upgrade should have handled this for you without developer intervention.

[2015-12-16 16:53] henrymazza commented on #360
Yes, I’m. Is there any way to make it automatic? I’m following this guide: https://github.com/yahoo/ember-intl/wiki/Intl.js-Polyfill#polyfillio

It’s the only case, any other asset i’m including through ember-cli-build.js

On 16 de dezembro de 2015 at 14:50:24, Sean Doyle (notifications@github.com) wrote:

the path must be changed from /assets/frontend/assets/intl/intl.min.js to /home/assets/intl/

[2015-12-16 17:03] seanpdoyle commented on #360
@henrymazza if you're using pollyfill.io, the `<script>`'s `src` attribute should be a fully qualified URL, right:

[code]

If not, are you using the `render_ember_app` helper, or the `include_ember_*_tags` helpers?

If you're rendering the EmberCLI-generated `index.html`, I recommend you add the `<script>` tag (with `src` set to a relative path) to your Ember application's `index.html`, so that i

[2015-12-16 17:12] henrymazza commented on #360
Not using polyfill, just forgot the anchor! I'm using `include_ember_*_tags` so i'm having to manage urls myself. I'll change it to `render_ember_app` and see who it goes.

I have shared stylesheets between the legacy rails app and the new ember frontend so using ember-cli's index.html isn't an option.

Thank you for the help.

[2015-12-16 17:16] kayakyakr commented on #360
I have had some success in keeping things that get globally included in the rails assets instead of in ember and just including application.js. Pulling in jquery, bootstrap, all sorts of things from rails via the traditional asset pipeline.

[2015-12-16 17:20] seanpdoyle commented on #360
@kayakyakr that's a good point.

@henrymazza during your transition, you could include the polyfill in Rails via Sprockets and embed the script tag in your Rails view using the normal asset pipeline script tag helpers

[2015-12-16 17:26] henrymazza commented on #360
@seanpdoyle Good idea.

just another thing, `include_ember_*_tags` isn’t working anymore. When loading through deeper route (like reloading a nested resource) it generates the wrong link. Like so on my app:

Loading `http://localhost:3000/home/sales` loads `http://localhost:3000/home/assets/vendor.js`
but
`http://localhost:3000/home/sales/190` loads `http://localhost:3000/home/sales/assets/vendor.

[2015-12-16 17:32] kayakyakr commented on #360
did you use the <base href="/home"> tag?

[2015-12-16 17:42] henrymazza commented on #360
@kayakyakr Wow! Sorry! This readme changed a lot since I first read it. I'll read it through and talk to you later! :smile:

[2015-12-20 00:39] seanpdoyle commented on #361
@kayakyakr does https://github.com/thoughtbot/ember-cli-rails/pull/366 seem like reasonable behavior?

[2015-12-20 00:42] kayakyakr commented on #361
Looks good to me.

[2015-12-20 01:12] seanpdoyle commented on #287
@jpaas if you still need to configure your Ember environment, https://github.com/thoughtbot/ember-cli-rails/pull/366 should give you what you need.

[2015-12-20 01:49] #361 closed

[2015-12-21 09:36] sebyx07 opened #369 "rails server crashing"
I've started a new project with ember cli 1.13.13, rails 4.2.5, ruby 2.2.4. I've mounted the ember application with ```mount_ember_app :app, to: '/app'```,
but whenever i go that route the server gets into a deadlock state. The webservers i tried: webrick, thin and puma and all gave the same results.
The build happens because and it's successfull. there are files in ```tmp/ember-cli```

[2015-12-21 13:35] seanpdoyle commented on #369
@sebyx07 thanks for opening this issue!

What version of the gem and what version of the addon are you running?

[2015-12-21 14:06] sebyx07 commented on #369
[code]

ok i forgot to add the ember addon to the ember application. But now i'm getting 404 for the assets in the index.html ember app
[code]

[2015-12-21 14:13] sebyx07 commented on #369
i forgot to add to routes
[code]

[2015-12-21 14:13] seanpdoyle commented on #369
@sebyx07 thanks for the extra context.

Have you looked at https://github.com/seanpdoyle/ember-cli-rails-heroku-example? It has example code for how to get `ember-cli-rails` up and running, and you might be able to spot the differences in your configuration.

I'm glad to head the addon resolved your locking issue.

[2015-12-21 14:14] seanpdoyle commented on #369
@sebyx07 `mount_ember_assets :app, to: '/'` shouldn't be necessary..

[2015-12-21 14:16] seanpdoyle commented on #369
@sebyx07 since you're mounting to `"/app"` instead of `"/"`, there are some additional steps:

https://github.com/thoughtbot/ember-cli-rails#mounting-multiple-ember-applications

[2015-12-22 13:50] belgoros opened #370 "ArgumentError: invalid byte sequence in UTF-8"
I got this error when following the setup [steps](https://github.com/thoughtbot/ember-cli-rails) on a Windows 8 PC in Bash GUI shell:

[code]

Ember version:

[code]

Here is th egenerated package.json file of the Rails app:

[code]

Any idea ? Thank you.

[2015-12-22 17:13] seanpdoyle commented on #370
@Javix thanks for bringing this to our attention.

Unfortunately, I don't have a means of testing on Windows.

There is an outstanding PR (https://github.com/thoughtbot/ember-cli-rails/pull/291) to test against Windows using the AppVeyor CI service.

If you have Windows savvy (which I'm seriously lacking in), we would really appreciate some help getting that PR running and green.

Without that PR,

[2015-12-23 08:37] Javix commented on #370
@seanpdoyle: if you caould be supply some guide lines how to check that, I'd be gald to take a try. Should I get the the PR locallylike [that](https://gist.github.com/piscisaureus/3342247) or there is another way ?

[2015-12-23 18:43] seanpdoyle commented on #370
@Javix thanks for offering to help!

That's a good way to get started. I've added a checklist to the [AppVeyor PR](https://github.com/thoughtbot/ember-cli-rails/pull/291)

That means your [Ember CLI](http://ember-cli.com/) version is `1.13.13`, which [the latest stable release](https://github.com/ember-cli/ember-cli/releases)

[2015-12-26 18:19] nruth opened #373 "Docs: inheriting the default controller and adding before-filters"
Great work on reviving this gem, in particular `render_ember_app`!

I'd like to suggest documenting how to add before-filters without duplicating the controller implementation.

For example, the following adds Devise authentication before sending the index page (security through obscurity for the JS file URLs, which may be desirable for admin applications).

[code]

If this looks ok I'll make a PR

[2015-12-27 12:43] jeffreybiles opened #374 "GET assets/{vendor,app}.{js,css} 404 not found"
The `index.hmtl` file can correctly locate the javascript and css files when running `ember server`, but fails to find them when being served via `ember-cli-rails`.

I'm using ember-cli-rails 0.7.0 on Mac OSX with ember-cli 1.13.13, rails 4.1.0, and Ember 1.13.11.

Here's the template that I'm using in Rails.

[code]

And here's the fairly standard `index.html` I'm using in my Ember app:

[code]

[2015-12-27 16:26] seanpdoyle commented on #373
Thanks for opening this issue!
Could you elaborate on your use case -- I don't understand the reasoning behind extending `EmberCli::EmberController` (instead of `ApplicationController`).

[`render layout: false`](https://github.com/thoughtbot/ember-cli-rails/blob/1d06d46a822c608958027a836e5815295898b1de/app/controller/ember_cli/ember_controller.rb#L4) is the only meaningful behavior, and [that's a

[2015-12-27 16:30] seanpdoyle commented on #374
@jeffreybiles thanks for opening this issue!

How have you [mounted the Ember assets in your `routes.rb` file](https://github.com/thoughtbot/ember-cli-rails#mounting-multiple-ember-applications)? If so, to what path?

When you access the app through `ember-cli-rails`, what is the base URL? Is it `/ember_admin`? If not, does removing the `<base>` tag resolve this issue?

[2015-12-27 18:16] nruth commented on #373
Thanks for reading! I don't mind if this gets rejected, just trying to give something back.

I was originally going to suggest a readme/wiki example for authentication or adding controller before-filters, but noticed that this way of extending the controller seems more like the root cause of why I found it fiddly to set up. Improving that (if it does) seemed more valuable than making the readme lo

[2015-12-27 23:43] jeffreybiles commented on #374
Thanks for the quick response!

The base url for the ember administration app is indeed `/ember_admin`.

Here are the `ember-cli-rails`-related things I have in my routes.rb:

[code]

I've also tried it with `mount_ember_app` instead of `mount_ember_assets` with no obvious change.

One thing I hadn't been doing before was including the fingerprinting, so now I added the following code based on the

[2015-12-28 00:25] seanpdoyle commented on #374
@jeffreybiles thanks for the extra context.

For starters, you'd be better off using the `mount_ember_app` route helper, since it mounts assets and handles splatting child routes:

[code]

By default, Ember CLI won't prepend your fingerprint to the URL in anything but production. If you want to force fingerprinting (you probably shouldn't, but it might help you debug) you should set prepend to a U

[2015-12-28 19:09] kayakyakr commented on #30
@seanpdoyle, there's a lot of information in this thread and I'm trying to get through it. I think I ran into an issue with adding the dist path to the asset pipeline: this doesn't work when we are skipping the asset pipeline, as in an nginx, self-hosted assets situation. I haven't dug very deeply, yet, but in production, the pipeline isn't running at all, so adding the dist directory does not wor

[2015-12-28 21:01] seanpdoyle commented on #30
@kayakyakr I'm not sure of your particular use case, but as of [`0.6.0`](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.6.0), `ember-cli-rails` deliberately avoids integrating with the asset pipeline.

In what ways doesn't `^0.6.0` support your use case?

[2015-12-28 21:06] kayakyakr commented on #30
Sorry, that was the older stuff. So serving stuff via Rack::File is great when you're using the rack server to serve assets. If assets are being served directly via nginx or in some other form, they will need to be copied to assets on deploy.

I wrote a deploy task to link the assets in the ember build to the public assets folder:

[code]

[2015-12-28 21:15] seanpdoyle commented on #30
@kayakyakr I see.

That capistrano task looks good to me, although it depends on `/tmp/ember-cli/apps/home` pointing to your app (which it currently does, but isn't exactly part of the gem's public API).

I recommend serving the Ember assets [over a CDN](https://github.com/thoughtbot/ember-cli-rails#deploy), since it relies on EmberCLI's public API, and isn't dependent on the underlying (private)

[2015-12-28 21:43] kayakyakr commented on #30
Eventually, but we're not ready to publish to a CDN, so I'll have to hack it for now.

[2015-12-29 00:13] jboler opened #375 "Ember-cli hangs due to wrong npm package version"
When I generate an empty Rails 4.2.5 app and follow the basic instructions to add ember-cli, the ember app builds but the browser times out.

See repo https://github.com/jboler/ember-cli-broken

If I change `"ember-cli": "1.13.8",` to `"ember-cli": "1.13.11",` in package.json then it works.

[2015-12-29 04:14] seanpdoyle commented on #375
@jboler thanks for opening this issue!

We used to programatically enforce EmberCLI (and other NPM dependencies') versions, but it became too tedious.

[We mention our EmberCLI support in the first paragraph of the README](https://github.com/thoughtbot/ember-cli-rails#ember-cli-rails), as well as [here](https://github.com/thoughtbot/ember-cli-rails#embercli-support).

[2015-12-29 04:14] #375 closed

[2015-12-29 07:05] jeffreybiles commented on #374
Aaaaand it works!!!!!

I changed the following two things (both of which seem to be necessary):

1) Used the `routes.rb` configuration that you gave me.
2) Changed the `href` of the `<base>` tag to have a slash at the end.
(the baseURL was already set)

Thank you so much for your help!

[2015-12-29 07:05] #374 closed

[2015-12-29 08:13] ACPK commented on #255
@seanpdoyle - I also get this issue and am using "ember-cli-rails" version 0.6.1.

[2015-12-29 15:24] seanpdoyle commented on #255
@ACPK Are you running `rails g ember:heroku` ([as described in the `0.6.1` README](https://github.com/thoughtbot/ember-cli-rails/tree/v0.6.1#heroku))?

[2016-01-03 12:39] ivanjolic95 opened #376 "Rails 5 API support"
Are there any plans to support Rails 5 API? The problem with it is that API controllers don't have helper_method. One solution would be to inherit gem's EmberController from a special EmberController (or whatever the name is) in app that inherits ActionController::Base instead of ActionController::API. Right now it inherits ApplicationController which is an API controller in Rails 5 API. I've conf

[2016-01-03 13:44] ivanjolic95 commented on #376
The other solution would be to add a note in readme to make ApplicationController inherit ActionController::Base when using Rails 5 API.

[2016-01-03 15:49] seanpdoyle commented on #376
@ivanjolic95 thanks for opening this issue.

I'm unfamiliar with most of the changes coming in Rails 5, so I'm having trouble following your suggestions.

Are you saying that when you `rails new --api`, your app's `ApplicationController` extends from `ActionController::API` instead of `ActionController::Base`?

[2016-01-04 00:14] ivanjolic95 commented on #376
Yeah, that's right.

[2016-01-04 00:17] ivanjolic95 commented on #376
And if you try to use this gem with it, there's an error because helper_method is not defined for the ActionController::API

[2016-01-05 11:34] rusanu opened #377 "infinite loop in BuildMonitor.wait! because build.lock never gets cleaned up"
I'm trying to serve an ember app from rails. The build stage succeeds, but the wait for build never completes because it waits for `<Rails.root>/<ember-app>/tmp/build.lock` to be cleaned up, which never happens (infinite loop in `BuildMonitor.wait!`). As far as I can tell, the ember build never touches this files and does not removes it. I placed a root owned build.lock in `<ember-app>/tmp` and em

[2016-01-05 13:54] seanpdoyle commented on #377
The addon is responsible for cleaning up the lockfile [when the `outputReady` event fires](https://github.com/rondale-sc/ember-cli-rails-addon/blob/03c722edfce4dd856cf467d2c804bdde591ad6ec/index.js#L45-L51).

If the file is never removed, the build is likely not successful. When you experience the infinite loop, does `<ember-app>/tmp/error.txt` exist?

[2016-01-05 14:53] rusanu commented on #377
The build succeeds. If I remove the file manually, the loop stops, the call succeeds and the ember app is rendered.

I added the ember-cli-rails-addon in the `<ember-app>/package.json` and everything works fine now. I think the problem originated because I create the ember app from ember-cli directly. I see now there is a [rake ember:install](https://github.com/thoughtbot/ember-cli-rails/blob/mast

[2016-01-05 14:53] #377 closed

[2016-01-06 07:44] devmarwen opened #378 "Is the use of CDN in production a must"
I'm starting a new project and trying to decide between `ember-rails` and `ember-cli-rails` **gems** ...
Reading through the documentation, in the **Deploy** section:

Is using a **CDN** in production a must? What if I do just want my assets to be served like normal, is there a workaround.

Thanks for your time :smile:

[2016-01-06 14:00] seanpdoyle commented on #378
@devmarwen although serving assets over a CDN is highly recommended, it is not necessary.

Check out https://github.com/seanpdoyle/ember-cli-rails-heroku-example for a working example.

[2016-01-06 14:00] #378 closed

[2016-01-09 20:01] KirillSuhodolov commented on #376
@ivanjolic95 @seanpdoyle I updated my project with rails 5 beta 1. I am using full rails(not only API) and I get 500 standard error instead of ember application and nothing in server logs.
It looks like ActionController::Base really doesn't have helper_method

[2016-01-11 13:27] ivanjolic95 commented on #376
@KirillSuhodolov it's working for me when I use ActionController::Base. Which version of ember are you using?

[2016-01-11 18:04] movstox opened #380 "EmberCLI failed to generate an `index.html` file."
hi all, is there a way i can debug this? Getting error on Heroku, locally the app is running just fine (DigitalOcean).

Many thanks.
[code]
Trace:
[code]

[2016-01-11 19:12] seanpdoyle commented on #380
@movstox thanks for opening this issue and bringing it to our attention.

Have you followed along with the [Setup Instructions](https://github.com/thoughtbot/ember-cli-rails#setup), particularly:

[code]

If so, what version of [the addon](https://github.com/rondale-sc/ember-cli-rails-addon/) are you running?

Have you followed all the steps in the [Heroku](https://github.com/thoughtbot/ember-cli-

[2016-01-11 19:16] seanpdoyle commented on #373
@nruth sorry that this has sat silently for so long.

There are a multitude of ways to secure a Rails route, ranging from routing constraints to controller logic. I'm not sure this project wants to get involved in advising users on how they should secure their applications.

Having said that, I'd love to see this in a PR to the README, or a separate `.md` document. Once we have it all written out

[2016-01-11 19:16] #373 closed

[2016-01-11 19:17] seanpdoyle commented on #369
@sebyx07 have you tried out https://github.com/thoughtbot/ember-cli-rails/issues/369#issuecomment-166315181?

[2016-01-11 19:20] movstox commented on #380
@seanpdoyle I'm running "ember-cli-rails-addon": "0.7.0" as well.

I've upgraded from 0.5.8 and when I start `rails s` on my Digital Ocean dev server it works.

When I deploy to Heroku - it doesn't, is there a way to find out why `index.html` is not found? i.e. logs...

[2016-01-11 19:52] movstox commented on #380
Also, I had to modify `bin/heroku_install` (added `cd ..`):

[code]

[2016-01-11 20:07] seanpdoyle commented on #380
What is the output of `$ heroku buildpacks`?

`ember-cli-rails` [depends on the presence of the `assets:precompile` task](https://github.com/thoughtbot/ember-cli-rails/blob/1d06d46a822c608958027a836e5815295898b1de/lib/tasks/ember-cli.rake#L23). Does your application have that rake task available (try `rake -T | grep assets`)?

Also, for what it's worth, your changes to `bin/heroku_install` should

[2016-01-11 20:10] seanpdoyle commented on #380
The [error message you're seeing](https://github.com/thoughtbot/ember-cli-rails/blob/1d06d46a822c608958027a836e5815295898b1de/lib/ember_cli/deploy/file.rb#L25-L27) is somewhat vague because, in theory, it should never be reached. That is to say, if your project is properly configured and there are issues with compiling your Ember application, they would be raised elsewhere (for instance, in the ca

[2016-01-11 20:17] movstox commented on #380
Does this help?

[code]
[code]

[2016-01-11 20:34] seanpdoyle commented on #380
@movstox yup, looks like you're properly configured there.

What about the output of

[code]

[2016-01-11 20:37] movstox commented on #380
@seanpdoyle it's empty!

[2016-01-11 20:40] movstox commented on #380
[code]

[2016-01-11 20:42] seanpdoyle commented on #380
Hmm, this is a real head scratcher.

Would you mind trying to compare your application to https://github.com/seanpdoyle/ember-cli-rails-heroku-example, being on the lookout for configuration differences?

[2016-01-11 20:43] movstox commented on #380
Ok, this would take me some time.

[2016-01-11 20:45] movstox commented on #380
Also, does it make sense to run `heroku run rake ember:compile` and see the output?

[2016-01-11 20:52] seanpdoyle commented on #380
That's a great idea!

[2016-01-12 20:02] movstox commented on #380
@seanpdoyle Finnally, changed the deployment strategy to the one based on Redis(index.html) / S3(assets). I suppose in this case I don't need `heroku-buildpack-nodejs` on Heroku at all...

[2016-01-12 20:05] seanpdoyle commented on #380
@movstox have you been using the Redis deployment strategy from the start?

[2016-01-12 20:08] movstox commented on #380
@seanpdoyle no, but I was not able to find the explanation for my issue. Perhaps, it's about Heroku, since my app worked on DigitalOcean and locally. S3/Redis was already available so I've just opted for that.

[2016-01-12 20:16] seanpdoyle commented on #380
@movstox are you using https://github.com/seanpdoyle/ember-cli-rails-deploy-redis?

[2016-01-12 20:19] movstox commented on #380
@seanpdoyle yes. The only thing I would like it to be able to do is allowing to setup the namespace via env var (i.e. 'appname:index').

[2016-01-12 20:20] seanpdoyle commented on #380
@movstox that's great!

I agree, that would be a great feature.

PRs are welcome!

I'm also currently working on a project that uses that strategy so be on the lookout for coming improvements.

Closing this issue for now.

[2016-01-12 20:20] #380 closed

[2016-01-12 20:22] movstox commented on #380
@seanpdoyle thanks for your input and good luck.

[2016-01-13 23:00] chrisgre opened #382 "Building ember app failing while in rails s, succeeding from rake | deploy."
Heya folks, I have a project that I just updated to use v0.7.0 that fails to build when triggered from a request to thin (hitting the mount point). However, if I deploy the app via capistrano, everything builds fine. Or if run `rake ember:compile` everything builds fine.

I'm figuring this is a PATH issue, but it really doesn't make much sense to me. When running in the server , or from the `rails

[2016-01-13 23:47] seanpdoyle commented on #382
Thanks for opening this issue!

Is your capistrano deployment running on the same OS as your development environment?

[2016-01-14 00:20] chrisgre commented on #382
No, they're not.
local dev: osx 10.9.5
deployed env: ubuntu 14.something

I had essentially the same problem when I first deployed, before I specified the path of node/npm/etc in the default_env setting. After that, everything was cool with the ubuntu box. On the local dev box, though, I haven't been able to get the development environment back up and running.

I went through the gem and added log

[2016-01-14 05:44] osxi opened #383 ""no implicit conversion of nil into String" during assets precompilation"
I'm using version 0.7.0 of both the gem and Ember addon.

This doesn't happen to me in development, but on CI, I get the following error when running `rake assets:precompile`:
[code]

config/initializers/ember.rb:
[code]

What's interesting is that the output from the previous command on CI is bower install, which succeeds. Seems something is nil when it should be a path to `bower`?

[2016-01-14 08:06] osxi commented on #383
As per https://github.com/thoughtbot/ember-cli-rails/issues/319, I altered my config/initializers/ember.rb to look like:
[code]

That gets things working.

Is this actually a bug?

[2016-01-14 13:35] seanpdoyle commented on #383
@osxi thanks for opening this issue!

When you're executing `npm install bower`, are you installing globally with the `-g` flag?

[2016-01-14 14:56] seanpdoyle opened #384 "Depend on components of rails rather than rails itself"
This will likely apply to `ember-cli-rails` as well.

[2016-01-14 23:27] osxi commented on #383
@seanpdoyle, you're welcome!

The underlying issue turned out being related to bower not being in the $PATH.

[2016-01-14 23:27] #383 closed

[2016-01-15 03:47] seanpdoyle commented on #383
:clap: thanks for posting back here with your resolution!

[2016-01-20 16:11] seanpdoyle commented on #369
This issue has become stale, and it looks like you've resolved your problems.

Closing.

If the problem persists, please ping me and I'll re-open.

[2016-01-20 16:11] #369 closed

[2016-01-20 16:14] seanpdoyle opened #390 "Don't create an empty Ember app `path`"
When deploying with a strategy that doesn't require the existence of the app's directory (https://github.com/seanpdoyle/ember-cli-rails-deploy-redis for example), [`PathSet#root`](https://github.com/thoughtbot/ember-cli-rails/blob/f510fe8df8ecaf6f50f9b20f8fb02a1263eef9f8/lib/ember_cli/path_set.rb#L12-L20) shouldn't be created if it doesn't exist -- either directly or by child path calls to [`mkpat

[2016-01-25 08:57] rhysdavies1994 opened #392 "No `ember-cli` executable found for `frontend`. Install it:"
This is my first time setting up an app with EmberJS and the ember-cli-rails gem.
I've followed the steps in the readme for this git, but when i go to my index page i get the following error:

No `ember-cli` executable found for `frontend`. Install it:
it tells me to run npm install, which changes nothing.

I'm working on Windows 7.

Has anyone else had this issue?

[2016-01-25 13:35] seanpdoyle commented on #392
@rhysdavies1994 thanks for opening this issue!

Where is the `frontend` directory relative to your Rails app?

Does `frontend/package.json` declare `"ember-cli"` as a dependency?

If so, what version of `"ember-cli"` is declared as a dependency?

Does `frontend/node_modules/.bin/ember-cli` exist? If so, is it executable?

[2016-01-25 14:12] rhysdavies1994 commented on #392
@seanpdoyle
the frontend is stored in the root directory of my rails app. e.g my rails folder is called "learning-ember" generated from "rails new learning-ember". the frontend folder is "learning-ember/frontend".

From what I can see it looks to declare "ember-cli" : "1.13.15" under devDependencies

There is a bunch of ember-cli folders in "frontend/node_modules", although inside of .bin there is

[2016-01-25 14:27] seanpdoyle commented on #392
My mistake -- `ember` is the name we're looking for. There is both an `ember.cmd` and `ember` version?

[2016-01-26 21:19] patcoll commented on #392
This seems to happen to me as well.

Oddly, it only occurs locally when running `wercker build`, which, because I'm on Mac OS X, requires a setup using VirtualBox and `docker-machine`. Builds run fine on Wercker in the cloud. This happens with no other CI setup we have. (We're currently evaluating Travis-CI, CircleCI, Wercker, and a local Jenkins instance, all which have different instantiations o

[2016-01-27 18:50] nerdyworm opened #393 "Live Reload?"
Is there any way to wire up live reload?  Or is there an alternative that works?

[2016-01-27 18:57] seanpdoyle commented on #393
@nerdyworm the [`README.md` used to explain how to enable LiveReload through `guard`](https://github.com/thoughtbot/ember-cli-rails/blob/0eebed8ca8859c28bbe10633b7dc3d7b24bd999a/README.md#enabling-livereload).

It's possible -- and might be worth revisiting -- but official "support" was dropped in favor of stabilizing the gem by reducing scope and focussing in on a smaller set of features.

[This

[2016-01-27 19:06] nerdyworm commented on #393
Thanks for the explanation and history.

In a non ember-cli-rails app we just insert the ember-cli-live-reload.js script manually.  This does require the ember cli server to be running, so that may not be ideal for this workflow.

Guard live reload seems like a good enough solution.

I'm going to close this as it is not critical, it just needs to show up in search history.

Cheers!

[2016-01-27 19:06] #393 closed

[2016-01-27 19:10] seanpdoyle commented on #393
Thanks @nerdyworm !

[2016-01-29 18:42] staylorwr commented on #392
I'm getting the same issue on Heroku.

The gem works just fine for local development, but after a successful run through the node-js buildpack, and gem install, the asset pipeline fails.

<img width="892" alt="screen shot 2016-01-29 at 12 36 50 pm" src="https://cloud.githubusercontent.com/assets/2738409/12684531/09591b7c-c685-11e5-82cb-5967860accce.png">

[2016-01-29 19:30] seanpdoyle commented on #392
@staylorwr just to keep this issue on track and make sure that you're issues are related to https://github.com/thoughtbot/ember-cli-rails/issues/392#issue-128490648, could you clarify whether or not you've followed the [instructions for setting up Heroku](https://github.com/thoughtbot/ember-cli-rails#heroku)?

[2016-01-29 19:41] botandrose opened #394 "ember:install should blow away deps and reinstall from scratch if ember version says so?"
Ember CLI ships with [ember-cli-dependency-checker](https://github.com/quaertym/ember-cli-dependency-checker), which provides the `ember version` command, which is akin to `bundle check`. I have enhanced the `ember:install` rake task to `rm -rf node_modules` before installing if `ember version` returns non-zero.

This seems like something that might belong in Ember CLI Rails itself. WDYT? Should I

[2016-01-29 19:56] seanpdoyle commented on #394
@botandrose that sounds like a great idea.

TIL

[2016-01-29 20:05] botandrose commented on #394
Great, I'll begin!

Yeah, I just learned about `ember version` recently myself, while struggling with unreliable builds across different machines. Its basically an attempt to bandaid the insanity that is npm and especially npm shrinkwrap. If only npm would adopt semantics like Gemfile.lock. :/

[2016-01-29 20:35] staylorwr commented on #392
Hey @seanpdoyle.  I've followed the instructions and already had the buildpack setup as instructed from compiling a React app.

I've started down the road of deploying production like environments with `ember-cli-deploy` and redis, but this does seem to be a similar issue.

[2016-01-29 21:04] seanpdoyle commented on #392
@staylorwr @patcoll @rhysdavies1994 would you please try out #395 (i.e. the `ember-executable-path` branch) and let me know if that resolves your issues?

[2016-01-30 00:39] meliborn opened #397 "Getting define is not defined in console"
[code]
![frontend 2016-01-30 03-51-18](https://cloud.githubusercontent.com/assets/735194/12692173/c5596122-c704-11e5-8da7-fd747862489f.jpg)
But, it works with ```ember s```

[2016-01-30 03:06] seanpdoyle commented on #397
@meliborn thanks for opening this issue!

Are you using the `render_ember_app` helper?

If so, I have a hunch this is related to `ember-cli@2.3.0-beta.1`, as [ember-cli has had issues with this in the past](https://github.com/ember-cli/ember-cli/search?utf8=%E2%9C%93&q=%22define+is+not+defined%22&type=Issues), and `ember-cli-rails` doesn't do anything but serve the output (directly, not through Sp

[2016-01-30 11:11] meliborn commented on #397
@seanpdoyle I didn't do any specific actions. Just fallow instructions. I don't use ```render_ember_app``` helper.
I just did
```ember new frontend --skip-git```
```rails generate ember:init```
```ember install ember-cli-rails-addon```
 ```rake ember:install```

[2016-01-30 13:16] meliborn commented on #397
Seems it was a conflict with ```ember-rails``` gem

[2016-01-30 14:47] seanpdoyle commented on #397
@meliborn thanks for clearing that up!

[2016-01-30 14:47] #397 closed

[2016-01-31 19:52] meliborn opened #398 "Refused to execute script from because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled."
I have an Ember app at /ember, not just /. Here are my routes:

[code]

And here is my ember#index view:
[code]

All of this produce the next errors:
![errno enoent at publo 2016-01-31 22-51-57](https://cloud.githubusercontent.com/assets/735194/12704492/4b7472d8-c86d-11e5-84e6-a80d289643fd.jpg)

What interesting, ```vendor.js``` throws me my js files from ember/application rails manifest like this

[2016-02-01 00:14] seanpdoyle commented on #398
@meliborn thanks for opening this issue?

Just to clarify -- are you trying to serve the `ember-cli` generated `index.html` (with `render_ember_app`), or are you trying to inject the `ember-cli` generated JS and CSS files into an existing rails view?

I ask becuase it looks like you're using a mix of helpers from both approaches.

If this is a newly configured `ember-cli-rails` application, I stro

[2016-02-01 14:41] meliborn commented on #398
@seanpdoyle Thanks for response. Seems I really tried to mix both approaches.
On deprecation, how can I include Rails assets in this case? I18n.js for example, which refreshes every time after I make a change in Rails I18n. Or any other JS and CSS files

[2016-02-01 14:52] seanpdoyle commented on #398
@meliborn does the [Overriding the view](https://github.com/thoughtbot/ember-cli-rails#overriding-the-view) section describe your use case?

[2016-02-01 14:55] meliborn commented on #398
@seanpdoyle Works like a charm, thanx

[2016-02-01 15:04] seanpdoyle commented on #398
@meliborn glad we could help work things out!

[2016-02-01 15:04] #398 closed

[2016-02-01 19:05] meliborn opened #399 "Coffeescript support?"
Is it possible for now to use *.coffee files instead of *.js in Ember app folder? I have tried https://github.com/kimroen/ember-cli-coffeescript, but seems it doesn't work because ember-cli-rails take affect on build process.

[2016-02-01 19:49] seanpdoyle commented on #399
@meliborn thanks for opening this issue.

Could you please elaborate on this issue, possibly including the particular errors and stack traces you're seeing?

If you're using `render_ember_app` to serve the `ember-cli`-generated `index.html`, there's nothing from the `ember-cli-rails` perspective that should break https://github.com/kimroen/ember-cli-coffeescript support.

What makes you believe th

[2016-02-01 19:53] meliborn commented on #399
@seanpdoyle Because it's the only one idea I have to explain this issue. There are no any errors, it just doesn't compile .coffee files. Is it possible to make Rails assets pipeline to compile .coffee files?

[2016-02-01 20:00] seanpdoyle commented on #399
@meliborn what version of `ember-cli-rails` are you running? We [dropped Sprockets integration in version `0.6.0`](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.6.0).

Versions after `0.6.0` that use `render_ember_app` server the EmberCLI-generated `index.html` directly, without any involvement in the EmberCLI build process.

[2016-02-01 20:05] meliborn commented on #399
@seanpdoyle The latest, 0.7.0

[2016-02-01 20:30] seanpdoyle commented on #399
This sounds like an issue with your project's configuration of https://github.com/kimroen/ember-cli-coffeescript.

Closing this for now.

If you're able to provide some additional information that links your issues to `ember-cli-rails`, I'd love to see it and I'd gladly reopen the issue.

[2016-02-01 20:30] #399 closed

[2016-02-01 20:31] seanpdoyle commented on #399
Although it's not using `ember-cli-coffeescript`, https://github.com/seanpdoyle/ember-cli-rails-heroku-example is a good example of a working application running on `0.7.0`.

I encourage you to compare how it's configured with how your project is configured.

[2016-02-02 02:45] CollinGraves commented on #376
If anyone is following this issue and needs ember-cli-rails support with a Rails 5 build, feel free to use [my fork of this repository](http://github.com/CollinGraves/ember-cli-rails) until this gets straightened out. I'll keep it as current as possible.

Thoughts on this going forward, @seanpdoyle? Would love to send a patch through to you.

[2016-02-02 12:41] henrebotha commented on #392
@seanpdoyle I've got the same problem. I would like to try this branch you mention but I'm not sure how to do this - could you post/link instructions?

[2016-02-02 12:44] seanpdoyle commented on #392
@henrebotha @patcoll @rhysdavies1994 to test the branch out on your project, specify the GitHub org/repo and branch in your `Gemfile`:

[code]

[2016-02-02 12:51] seanpdoyle commented on #376
https://github.com/thoughtbot/ember-cli-rails/pull/400 attempts to fix this issue.

[2016-02-02 12:59] henrebotha commented on #392
@seanpdoyle I did as you suggested, still got the same issues after `npm install`. I ended up doing `rm -r node_modules && npm install`, now it seems to be working.

[2016-02-02 15:29] patcoll commented on #392
Yes that did seem to solve my problem!

[2016-02-02 16:57] seanpdoyle commented on #392
#395 has landed in the [`0.7.1` release](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.7.1) and the `ember-executable-path` has been deleted.

[2016-02-02 16:58] seanpdoyle commented on #392
Closing this issue.

Please reopen if the problem persists past the [new release](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.7.1).

[2016-02-02 16:58] #392 closed

[2016-02-02 17:14] patcoll commented on #392
Thank you Sean.

[2016-02-02 21:54] seanpdoyle commented on #376
@CollinGraves @ivanjolic95 @KirillSuhodolov https://github.com/thoughtbot/ember-cli-rails/pull/400 supports Rails `5.0.0.beta2`.

Would you mind seeing if it resolves your issues?:

[code]

Unfortunately, Rails 5 depends on `rack@2.0.x`, which depends on `>= ruby@2.2.2`.

Dropping support for older Rubies constitutes a breaking change, and according to semantic versioning will require a major bump

[2016-02-03 22:19] wireframe opened #401 "Set Cache-Control headers for assets"
Requests for ember assets are being proxied through the `EmberCli::Deploy::File` rack middleware, but does not set any of the HTTP cache control headers from rails.

Since ember production builds automatically digest the filenames of images/css/js/etc, these files are highly cachable, and should support the standard HTTP caching headers in some way (ex: rails `static_cache_control` config).

[2016-02-03 22:27] wireframe commented on #401
It may be possible/preferable to reuse the `ActionDispatch::Static` middleware which is what rails internals use to serve files from the public directory (and automatically sets the cache control headers).

[2016-02-03 22:36] seanpdoyle commented on #401
@wireframe that sounds like a great alternative!

Are you familiar enough with [ActionDispatch::Static](https://github.com/rails/rails/blob/4df216cb12e35c09ae5ec271755e581d692d0326/actionpack/lib/action_dispatch/middleware/static.rb#L101) to create a PR?

[2016-02-04 00:01] seanpdoyle commented on #401
@wireframe I've thought about this further.

While we'd gladly accept a PR that implemented this functionality, it might not be necessary.

We [encourage users to serve their assets](https://github.com/thoughtbot/ember-cli-rails#deploy) over a [CDN configured to pull from the Rails app](https://robots.thoughtbot.com/dns-cdn-origin).

This means that after the initial pull from origin, the Rails ap

[2016-02-04 00:02] seanpdoyle commented on #401
Closing this issue for now.

If you feel strongly about introducing `ActionDispatch::Static`, please open a PR and we can discuss further.

[2016-02-04 01:49] wireframe commented on #401
@seanpdoyle every CDN that i've worked with (cloudfront/fastly) acts as a reverse proxy to load resources from rails and then caches them on their edge servers.  The duration of the cache relies 100% on the cache headers sent from the origin server (ie: rails) so the cache headers are extremely important in order to take full advantage of your CDN.

The thoughtbot blog you linked to actually expla

[2016-02-04 14:47] seanpdoyle commented on #401
@wireframe thanks for clarifying, those are some good points.

I'll reopen this issue.

[2016-02-05 15:47] seanpdoyle commented on #401
@wireframe I've pushed https://github.com/thoughtbot/ember-cli-rails/pull/403. Please weigh in there.

[2016-02-08 16:29] #401 closed

[2016-02-08 16:46] seanpdoyle commented on #394
Closed by https://github.com/thoughtbot/ember-cli-rails/commit/6eceea8a9321e3c38e2425e5f39124912ad297af.

[2016-02-08 16:46] #394 closed

[2016-02-09 19:53] alvinkatojr opened #404 "config.eager_load is nil when running rake ember:install"
I keep getting config.eager_load is nil statement(not sure if its an error) even though eager_load is set to false in both development and test. What could be the issue?

![screen shot 2016-02-09 at 10 50 41 pm](https://cloud.githubusercontent.com/assets/519988/12928650/b1438b08-cf7f-11e5-8295-ef8c847fc194.png)

[2016-02-09 20:03] seanpdoyle commented on #404
@alvinkatojr thanks for opening this issue!

For what it's worth, `ember-cli-rails` doesn't rely on or set `Rails.configuration.eager_load`.

This appears to be an issue originating in your Rails code.

Have you tried following the suggestions provided in the output you've shared?

Closing this issue, as I don't think it's related to this gem.

[2016-02-09 20:03] #404 closed

[2016-02-09 20:29] alvinkatojr commented on #404
By default eager_loading on all all environments save production is set to false so that part is covered. The configuration code seems to be okay as well.

Prior to my updating the gem and following the related ember-chli-addon instructions I did n't have any of these issues.

For instance the <code>rake ember:install</code> command does n't really install any dependencies. It just gives me that e

[2016-02-09 20:34] seanpdoyle commented on #404
@alvinkatojr have you tried running `bundle exec rake ember:install`?

What about `bin/rake ember:install` (assuming you have the [bundler binstubs](http://bundler.io/v1.10/bundle_binstubs.html) installed)?

[2016-02-09 21:02] alvinkatojr commented on #404
Unfortunately that does n't work either. I do have binstubs installed. I'll give this break and come back to it later, when I do get it fixed I'll be sure to let you know.

Thank you for your responsiveness and help @seanpdoyle. Really appreciate it.

[2016-02-10 15:05] makabde commented on #376
@seanpdoyle I have tried your above solution, using the `sd-rails-5` branch with a newly generated Rails 5 API application, and a newly generated ember application. When booting the Rails app with either `bin/rails s` or `be rails s` the index page stays blank, but I have the following console output

[code]

I have followed the setup instructions and did not customize any view since the base Rail

[2016-02-10 15:08] seanpdoyle commented on #376
@makabde thanks for the additional information.

Just to clarify, in your application, `ApplicationController < ActionController::API`?

[2016-02-10 15:10] makabde commented on #376
@seanpdoyle yes, that right.

[2016-02-10 15:31] seanpdoyle commented on #376
@makabde thanks!

Could you share the HTML that is returned? `Processing by EmberCli::EmberController#index as HTML` gives me reason to believe that you're getting some sort of HTML response.

Are there any `404` responses in your browser's network tab?

[2016-02-10 15:47] makabde commented on #376
@seanpdoyle I created a repo so that you can maybe clone it and try yourself. So far both, the Rails and the Ember app are new but I would still expect to see the "Welcome to Ember", if everything was working as expected.

https://github.com/makabde/tapp

Also some screenshots of the returned HTML and of the browsers network tab.
<img width="1437" alt="screen shot 2016-02-10 at 16 39 57" src="http

[2016-02-10 16:22] seanpdoyle commented on #376
The [`sd-rails-5`](https://github.com/thoughtbot/ember-cli-rails/tree/sd-rails-5) branch should now support your use case, with some side-effects that might be unfortunately unavoidable.

@makabde Please see [this new commit](https://github.com/thoughtbot/ember-cli-rails/commit/a9c799ca6f3f13f051221bcc1d17fef4c52a76bd).

[2016-02-10 18:06] makabde commented on #376
@seanpdoyle The application now runs as expected, with this new commit. Do you think you will be able to come up with a solution that you will somehow prevent those side-effect you were referencing [in the commit](https://github.com/thoughtbot/ember-cli-rails/commit/a9c799ca6f3f13f051221bcc1d17fef4c52a76bd).

On the other hand would you recommend sticking to a "regular" Rails app with a dedicated

[2016-02-11 00:31] seanpdoyle commented on #376
@makabde [this commit](https://github.com/thoughtbot/ember-cli-rails/commit/1ccad80010c5a82812f3c6a1dc1517f3caf50aba) attempts to avoid `< ActionController::Base` by:

* inheriting from `ApplicationController`
* re-including modules into `EmberCli::EmberController` that are in `ActionController::Base`, but not in `ActionController::API`

This **feels** like an awful idea, but is effective in lever

[2016-02-11 07:36] makabde commented on #376
:thumbsup:

[2016-02-13 10:38] wrystr opened #405 "Error running rake ember:install when nodejs is installed in path with spaces"
I got this error when running rake ember:install on Windows

[code]

Is there any work around to escape the space in nodejs path?

[2016-02-18 17:29] maebeale commented on #380
hey there! i'm getting this same error, and `heroku run rake ember:compile` isn't fixing it.
unfortunately i need to be able to ship this asap. any advice?

heroku config | grep SKIP_EMBER --> is empty

heroku buildpacks:
1. heroku/nodejs
2. heroku/ruby

[2016-02-18 18:11] maebeale commented on #380
update: i was precompiling my assets and apparently should've been letting heroku do that. thanks @drapergeek !!!

[2016-02-19 21:10] skylar commented on #30
@seanpdoyle I finally had a chance to checkout your latest build. The code looks great! Better yet, I was able to migrate from 0.3.x to 0.7.x without too much of a fuss. Given the nature of our app, we have to handle at least 25% of our routes in rails (eg, custom controller/actions) when bootstrapping the ember app.  (The others are just pass-throughs to 1 of 2 standard ember-app renders).

What

[2016-02-22 21:10] Samsinite commented on #30
@skylar you can see `mount_ember_app` defined here, and that it is just creating a get scope with a bunch of default options. You can really just define your own get scope however needed. And of course, if it is the last defined route, others will have precedence too. We keep `mount_ember_app` defined as the last route in our route file, even after this:

[code]

So our route looks something like

[2016-02-24 15:29] Leooo commented on #375
Updating from an old ember-cli-rails version, It took me hours before understanding why the app was hanging when seeing this issue. I did try to read three times carefully all the setup instructions but still missed the line about using the right ember-cli version. May be worth highlighting this line further down in the instructions.

[2016-02-24 15:42] Leooo opened #406 "frontend.css / vendor.css paths"
Hello, I'm upgrading from a previous version of ember-cli-rails and I'm finding it hard to understand how things now work.

* I have my ember app under `/frontend/`
* I still have some pages using rails-rendered views, so I'm not using `mount_ember_app` in `routes.rb`, instead I'm using the line `mount_ember_assets :frontend, to: "/"`, and I'm rendering when needed my ember html requests to the `e

[2016-02-24 16:49] seanpdoyle commented on #406
@Leooo thanks for opening this issue and bringing this to our attention.

Have you tried the steps described in the [Mounting Multiple Ember applications](https://github.com/thoughtbot/ember-cli-rails#mounting-multiple-ember-applications) section of the README, particularly:

[code]

Have you checked out [my example application](https://github.com/seanpdoyle/ember-cli-rails-heroku-example), partic

[2016-02-24 16:54] Leooo commented on #406
thanks for quick answer. I tried to infer from the README what to do yes, but in my case I need to keep some pages rendered by rails so I don't think I can use `mount_ember_app` (maybe I will try to put it last in my routes to see if this helps but I don't think so).

Mounting Multiple Ember applications is not really my use case, I have only one Ember app mounted on the normal `/frontend/` path.

[2016-02-25 00:48] Leooo opened #407 "rails 5 support?"
I'm excited by the ability to use code reload with multi-thread in Rails 5

[2016-02-25 02:42] seanpdoyle commented on #407
This is a duplicate of https://github.com/thoughtbot/ember-cli-rails/issues/376.

[2016-02-25 02:42] #407 closed

[2016-02-25 03:27] Leooo commented on #407
right sorry
On 25 Feb 2016 02:42, "Sean Doyle" <notifications@github.com> wrote:

[2016-02-25 15:49] Leooo commented on #406
Struggling to understand where this may come from.

Only thing which I can think of is: I'm using `include_ember_stylesheet_tags :frontend` in my layout for the `ember/index.html` view, which is rendered when going to the `http://localhost:3000/public` path (so not the usual ember-cli-rails config), so the stylesheets `frontend.css` etc. seem to be prepended to `http://localhost:3000/public/`, how

[2016-02-25 21:59] philpee2 opened #408 "Can't bundle install"
When I `bundle install`, I get
[code]
Running `gem install ember-cli-rails -v '0.7.2'`succeeds, but `bundle install` still fails after that

[2016-02-26 15:58] seanpdoyle commented on #408
@philpee2 thanks for brining this to our attention.

Unfortunately, I was unable to reproduce this locally.

Is there any other info you could share to give us more context on what could be causing this?

[2016-02-26 16:03] seanpdoyle commented on #405
@wrystr thanks for bringing this to our attention.

Unfortunately, this project has numerous issues when running on Windows.

There is a standing PR (https://github.com/thoughtbot/ember-cli-rails/pull/291) to run the test suite on AppVeyor so that we can start to address bugs like this.

Unfortunately, I don't have access to a Windows machine to carry that PR across the finish line.

As a quick fi

[2016-02-26 22:44] philpee2 commented on #408
Anything specific you want to know?

[2016-02-27 03:51] seanpdoyle commented on #408
@philpee2 given that:

* [a working version exists on RubyGems](https://rubygems.org/gems/ember-cli-rails/versions/0.7.2)
* I can't reproduce the issue at all on my own machine

any information at all around what you're seeing would be helpful.

[2016-02-27 15:35] philpee2 commented on #408
Ruby version is `ruby 2.2.4p230`

Gemfile looks like this
[code]

[2016-02-27 15:40] philpee2 commented on #408
The problem seems to have resolved itself. No idea why

[2016-02-27 15:53] #408 closed

[2016-02-27 15:53] seanpdoyle commented on #408
Thanks for clearing things up.

[2016-02-28 12:44] Leooo commented on #406
Hello, could you help in explaining at least where the `frontend.css` and `vendor.css` stylesheets are loaded from in the code? Is it from the `ember-cli-rails-addon` or from the rails gem? it would help in isolating where the problem comes from this prevents development on my app right now. Thanks

[2016-02-28 14:55] seanpdoyle commented on #406
@Leooo I'm sorry, I'm not sure what the issue is.

Would you be able to fork [the ember-cli-rails example repo](https://github.com/seanpdoyle/ember-cli-rails-heroku-example) and modify it so that it reproduces the issues you're experiencing?

That way, we can investigate the code diff and have a more concrete discussion about the underlying causes.

[2016-02-28 19:26] Leooo commented on #406
ok this was the <base href="/"> tag missing, it is in the docs but so unusual that I just missed it.

Thanks

[2016-02-28 19:30] #406 closed

[2016-02-29 18:30] tute commented on #382
I just upgraded ember-cli-rails to 0.7.2 and my server hangs before loading the Ember app:

[code]

`compile` rake task finishes with no errors. I wonder if this is related, and if so, how to work around it. Thank you!

[2016-02-29 18:45] tute commented on #382
`heroku local` behaves the same, in case it matters:

[code]

[2016-02-29 19:18] seanpdoyle commented on #382
@tute I think we were able to determine that your issue stemmed from running `ember-cli@1.13.8`.

Once you upgraded, your issue was resolved.

@chrisgre what version of `ember-cli` are you running?

What version of the `ember-cli-rails-addon` are you running?

[2016-02-29 21:15] Ikariusrb opened #410 "ember-cli-rails mount cannot be excluded from devise authentication"
I was attempting to put together a single rails app which hosted an ember-cli-rails frontend and an API back-end with devise authentication, which would allow the user to login within the ember UI (using ember-simple-auth).

After fiddling with the code, I concluded that I couldn't exclude the ember mountpoint from the devise authentication, so I opened an issue with the devise project.

The concl

[2016-02-29 21:34] seanpdoyle commented on #410
@Ikariusrb thanks for opening this issue, bringing it to our attention.

Also, a big thank you for first opening the issue against Devise for additional context! :+1:

What code changes do you need to make your use case work?

Would you be able to on a PR against [this line](https://github.com/thoughtbot/ember-cli-rails/blob/b70fe1a6b422d782ac8068fa96164467792f5a6f/lib/ember_cli/route_helpers.rb#L

[2016-02-29 22:24] Ikariusrb commented on #410
I have to admit, I believe I'm changing my mind for my particular use;  I am now looking at having my ember app require authentication before it can be accessed, and using some static HTML pages with minimal javascript (no full framework) to authenticate users before they are granted to access the ember application.

On the other hand, I suspect that hosting an ember front-end from the same rails

[2016-02-29 22:56] seanpdoyle commented on #410
Thanks for all that extra context.

We've had success with this approach. One of my favorite aspects of this approach is that the Ember application doesn't need to know anything about authentication (or the current user most of the time), and it depends on the API itself to restrict access / include user-specific context in the responses.

However, utilizing this approach means using both Rails-ge

[2016-03-02 18:33] ryanlntn commented on #380
I'm seeing this same issue after upgrading from 0.5.7 to 0.7.2. `heroku run rake ember:compile` doesn't give any output. I have the following setup:

# ember.rb
[code]

# routes.rb
[code]

# app/views/ember_cli/ember/index.html.slim
[code]

# ember-cli-build.js
[code]

# environment.js
[code]

# heroku
[code]

Everything builds fine locally. The issue is only present on Heroku. Is it possible some

[2016-03-02 18:35] movstox commented on #380
I used redis based setup finally.

--

On 02.03.2016 at 18:33 GMT Ryan Linton wrote:

[2016-03-02 19:38] seanpdoyle commented on #380
@ryanlntn thanks for providing all that extra context.

[code]

The dynamic segment glob can be omitted:

[code]

The current implementation of the Rake task will only output on errors.

Additionally, given the way dynos work, I don't think compiling the frontend after the fact will persist the EmberCLI generated files to the file system.

Does your deploy invoke `rake assets:precompile`? The gem

[2016-03-02 20:58] ryanlntn commented on #380
@seanpdoyle It is being invoked:

[code]

[2016-03-02 21:01] seanpdoyle commented on #380
@ryanlntn what are your `package.json` versions for:

* `ember-cli`
* `ember-cli-rails-addon`

[2016-03-02 21:04] ryanlntn commented on #380
@seanpdoyle
[code]

[2016-03-02 21:09] seanpdoyle commented on #380
@ryanlntn just to clarify -- you've followed all the steps for [setting up Heroku], including running the generators and executing:

[code]

and you're still seeing the following?

@tute since we've just recently worked through a similar issue, do you have any guess as to what's causing this?

[2016-03-02 21:11] ryanlntn commented on #380
@seanpdoyle Yeah. I've followed all the Heroku setup steps in the readme and I'm seeing that error.

[2016-03-03 04:57] tute commented on #380
The problem I had was that my `frontend/ember-cli-build.js` was doing `var deploy = require('./config/deploy');`, but I had removed that file (made sense only for deploying to S3 and redis) and forgot to remove the `require` line. So it was a Javascript error that wasn't being surfaced.

[2016-03-03 14:26] seanpdoyle commented on #380
@ryanlntn could you try running:

[code]

[2016-03-03 19:13] tute commented on #380
@ryancoughlin what version of node are you using?

[2016-03-03 20:46] ryanlntn commented on #380
@seanpdoyle This is the output that gives me:

[code]

@tute I'm running `v5.6.0`.

[2016-03-04 16:19] Herbo4 commented on #405
DISCLAIMER:: Advice from a newb:
Hey there folks, found this problem and tried to work around it by using subst command to associate my NPM folder with a drive letter. For those unfamiliar,  I used the subst command in terminal (As Admin) from my NPM directory (C:\Program Files\nodejs) and mounted the path to my N drive label:

`subst n: .`

The syntax there is [cmd] [drive label] [directory to mo

[2016-03-04 16:37] MSch opened #411 "Allow skipping `npm prune && npm install`"
As part of our deployment process we reuse a previous `node_modules` folder if the `npm-shrinkwrap.json` and the node and npm versions have not changed. In that case we'd like to skip `npm prune && npm install` in ember-cli-rails as well to speed up our deploys.

[2016-03-04 17:05] seanpdoyle commented on #411
@MSch could `npm install` be configured to point to your previously populated `node_modules` directory?

Would calling `npm install` with a [`prefix`](https://docs.npmjs.com/cli/prefix) configuration work for you?

If so, what do you think about a new feature that allows initializing your application with that directory?

[code]

[2016-03-04 19:01] MSch commented on #411
The problem is that running `npm prune && npm install` takes > 10 seconds, even if it has to do nothing (since the `npm-shrinkwrap.json` didn't change). We have multiple Ember apps in our Rails application and our deployment process makes sure we copy over the previous `node_modules` for those Ember apps where `npm-shrinkwrap.json` didn't change. I want to save those 10 seconds on every deploy for

[2016-03-04 19:38] seanpdoyle commented on #411
@MSch thanks for the extra context.

I'm open to supporting this, but a little dubious.

Could you describe your ideal API for configuring your ember-cli-rails application?

[2016-03-04 19:45] MSch commented on #411
@seanpdoyle Thanks!

I think my ideal API would be a setting in EmberCLI (can be global) that just turns `EmberCli::Shell.install` into a no-op.

That would basically be a opt-in that says "I can manage my dependencies, you just assume they exist". Our deployment would then take care of running `bundle install` (it already does :) ) and `npm` / `bower`.

If people have different deployment workflo

[2016-03-10 00:42] mcfiredrill opened #412 "rails server hanging"
The ember build finishes, but rails server is hanging and not serving the page.

Looks similar to what @tute describes here https://github.com/thoughtbot/ember-cli-rails/issues/382#issuecomment-190322771

rails 4.2.5.1
ember-cli-rails 0.7.2

ember-cli version is 2.4.2, anyone got this running on ember-cli 2 yet?

package.json:
[code]

bower.json:
[code]

[2016-03-10 00:44] seanpdoyle commented on #412
Thanks for opening this issue @mcfiredrill.

Have you followed along with the [setup instructions](https://github.com/thoughtbot/ember-cli-rails#setup), mainly:

Your `package.json` doesn't seem to have a version of [the addon](https://github.com/rondale-sc/ember-cli-rails-addon/) specified.

[2016-03-10 00:47] nruth opened #413 "Do the heroku instructions compile app js at deploy or runtime?"
It doesn't seem to mention it and I'm not sure what the production behaviour is.

- Does it get added to the rails asset precompile
- Does it get compiled when the first user (or tens-hundreds of concurrent users) request the page after a deploy

Or could it be added to the heroku_install script after `bower install`?

[2016-03-10 00:48] seanpdoyle commented on #413
@nruth currently, the assets will be compiled at deploy time by running along with [`rake assets:precompile`](https://github.com/thoughtbot/ember-cli-rails/blob/b70fe1a6b422d782ac8068fa96164467792f5a6f/lib/tasks/ember-cli.rake#L19-L24)

[2016-03-10 00:48] #413 closed

[2016-03-10 00:52] nruth commented on #412
It's working for us with 2.3.0-beta.1

[2016-03-10 00:54] nruth commented on #413
Thanks for clarifying! I'll try to add something brief to the readme.

[2016-03-10 00:55] mcfiredrill commented on #412
@seanpdoyle Ah, sorry! I must have nuked it during the ember-cli upgrade. :sweat:
`ember install ember-cli-rails-addon` 'ed again and its working great.

[2016-03-10 00:55] #412 closed

[2016-03-10 13:34] quezacoatl commented on #376
I get the following error:
[code]

even when using `sd-rails-5` branch. I'm using `rails/master` too. It works if I change to `< ActionController::Base`, but then I don't see any point in the  `sd-rails-5` branch. Any other solutions?

[2016-03-15 09:32] sebyx07 opened #415 "https assets"
the ```include_ember_stylesheet_tags``` and ```include_ember_script_tags``` use https in production mode.How can i disable this behavior?

[2016-03-15 14:34] seanpdoyle commented on #415
Are you using [`force_ssl = true`](http://api.rubyonrails.org/classes/ActionController/ForceSSL/ClassMethods.html) in your controlller or in `config/environments/production.rb`?

Are you prepending a prefix with `https` as part of your `ember-cli-build.js` build/deploy process?

Closing this issue, as it seems unrelated to this gem.

[2016-03-15 14:34] #415 closed

[2016-03-16 14:41] klaustopher opened #416 "Assets not available on production after assets:precompile"
Hi there,

we have just switched from using version `0.3.5` to `0.7.2`. Made all the changes and it is working fine on development.

We just tried to deploy the new version of the app with the changed Ember CLI version. The `rake assets:precompile` step correctly compiles the ember apps

[code]

The files are created correctly in the `tmp/ember-cli` directory:
[code]

But they are never moved into

[2016-03-16 14:56] seanpdoyle commented on #416
@klaustopher thanks for opening this issue.

This is no longer how the gem works.

In `0.3.5`, the gem depended on the asset pipeline to process assets and move them to `public/assets` like the rest of Rails' frontend files.

As of [`0.6.0`](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.6.0), the gem no longer depends on Sprockets and the Asset Pipeline.

Instead, the gem requires

[2016-03-16 15:23] klaustopher commented on #416
Hey @seanpdoyle, thanks for the quick reply. We are deploying on Amazon OpsWorks.

The output I posted is in `log/ember-frontend.staging.log`. The file is generated during `assets:precompile`.

The ember app is mounted in the routes file via:

[code]

The initializer looks like this:
[code]

And those are the files it is trying to access (might have different fingerprints than above because I reco

[2016-03-16 15:47] seanpdoyle commented on #416
[code]

Are the `()` necessary? I don't see any example with wrapping parens in the [Rails routing guide](http://guides.rubyonrails.org/routing.html).

Have you tried `scope :locale`?

[2016-03-16 16:08] klaustopher commented on #416
This is working for everything else. I don't see a reason, why the ember app should have trouble with this. Also, works fine in development :)

[2016-03-16 17:55] seanpdoyle commented on #416
@klaustopher would you mind pasting in a screenshot of the errors you're seeing in the browser?

What are the fully qualified JS/CSS request URLs? Do they look routable from a Rails perspective? Are they 404ing?

Have you modified your [baseURL in `frontend/config/environment.js`](https://github.com/thoughtbot/ember-cli-rails#mounting-multiple-ember-applications)?

[2016-03-17 02:21] wireframe opened #417 "rake ember:compile returns 0 exit code even with failed compilation"
compiling the app via rake appears like everything is fine, but grepping my `log/ember-appname.development.log` log file is littered with error messages like this:

[code]

[code]

raising an error with a truncated (or full) error from the shell/log would be *hugely* helpful.

[2016-03-17 11:10] klaustopher commented on #416
Hey @seanpdoyle, here's our `environment.js` file for one of the apps... I have previously replaced the name by *frontend*, but this is the right file:

[code]
87.138.173.0 - [17/Mar/2016:11:08:16 +0000] "GET /de/demandcheck/assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css HTTP/1.1" 404 208 "https://domain.com/de/demandcheck" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_3) AppleWebKit/537.36 (K

[2016-03-17 13:24] klaustopher commented on #416
Aaaaaaaah :angry: ... Sorry for having bothered you, but it was a problem in our nginx config... Every URL that contained the word `assets` was only looked for on the file system and the request never got forwarded to the Rails app.

But thanks for the help and pointing me to the fact, that the assets are served from a Rack app and are not supposed to be in the public folder! Maybe you could add a

[2016-03-17 13:24] #416 closed

[2016-03-17 13:52] seanpdoyle commented on #416
@klaustopher thanks for working out the kinks and reporting back with your findings!

[2016-03-17 13:53] seanpdoyle commented on #417
@wireframe thanks, this is certainly a bug.

I'll look into it.

[2016-03-17 14:51] seanpdoyle commented on #417
@wireframe on further inspection, things might be behaving properly.

The [`ember:compile` Rake task depends on `ember:install`](https://github.com/thoughtbot/ember-cli-rails/blob/b70fe1a6b422d782ac8068fa96164467792f5a6f/lib/tasks/ember-cli.rake#L3), which would install the missing dependencies.

Other than the logs containing output about missing dependencies (which might come from [`ember-cli-de

[2016-03-17 14:52] wireframe commented on #417
after running `rake ember:compile` with the failed state, I reload my rails app and get an error from the ember controller saying that the index.html file can not be found.

[2016-03-17 15:01] seanpdoyle commented on #417
@wireframe I've tried to reproduce your issues with https://github.com/seanpdoyle/ember-cli-rails-heroku-example, but I'm having some trouble. The `ember:install` Rake dependency seems to be preventing me from compiling without a necessary dependency.

Could you pull https://github.com/seanpdoyle/ember-cli-rails-heroku-example down and try to reproduce? If you're able to, could you share the steps

[2016-03-17 16:30] klaustopher commented on #417
I just ran into an issue as well ... I had an issue on one machine, that `~/.config/configstore/ember-cli.json` was owned by root and ember-cli could not change it.

[code]

The command finishes successfully, but the app is not available and if I look into the log file, this:

[code]

This is particularly annoying if this happens in `assets:precompile` because it gets totally hidden and we only se

[2016-03-17 16:33] klaustopher commented on #417
As a side note ... If i.e. `bower-github.yml` is not writable, the `ember:install` fails with all bells and whistles :smile:

[code]

[2016-03-17 17:01] seanpdoyle commented on #417
@klaustopher thanks for the additional information.

You don't have access to this file.

I'm not familiar with either of those files or the directory they're located in. Could you explain their significance, and maybe link to some documentation about them?

[2016-03-17 17:21] klaustopher commented on #417
ehrm, I have no idea what they are for exactly ... I think it might have something to do with this: https://www.npmjs.com/package/configstore

But the problem is, not with this file exactly. The problem is, that an error happens during `rake ember:compile` but the command still finishes with a success state

[2016-03-17 17:35] seanpdoyle commented on #417
@klaustopher @wireframe using https://github.com/seanpdoyle/ember-cli-rails-heroku-example as a base application, I've done some digging and extracted the shell command that `ember-cli-rails` will generate for a given application.

Running it (with `tee`):

[code]

Without the call to `tee`:

[code]

It looks like piping the output to `tee` is hiding the exit status of the initial command.

I'll i

[2016-03-17 17:37] seanpdoyle commented on #417
@thoughtbot/shell can anyone help with https://github.com/thoughtbot/ember-cli-rails/issues/417#issuecomment-197991094?

[2016-03-17 17:39] klaustopher commented on #417
The strange thing is, that `ember:compile` does fail and `ember:install` does not ... Are they handled differently?

[2016-03-17 17:45] seanpdoyle commented on #417
Using `set -o pipefail` corrects it:

[code]

[2016-03-17 17:46] seanpdoyle commented on #417
@klaustopher they're not "handled" different, in that they're both generated by [EmberCli::Command](https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/command.rb) and run through [EmberCli::Runner](https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/runner.rb), but they're different commands.

[2016-03-17 17:49] klaustopher commented on #417
Then it's really, really strange, that they handle failures differently, I'll take a look tomorrow morning, workday is over ;)

[2016-03-17 17:56] klaustopher commented on #417
Looking at https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/shell.rb#L44, the install commands are executed directly by the runner, whereas the compile step (https://github.com/thoughtbot/ember-cli-rails/blob/master/lib/ember_cli/shell.rb#L17) is run by an `EmberCli::Command`

[2016-03-17 17:57] seanpdoyle commented on #417
@wireframe @klaustopher could you try the [`set-pipefail`](https://github.com/thoughtbot/ember-cli-rails/pull/418) branch?

[2016-03-17 18:11] klaustopher commented on #417
## version 0.7.2

[code]

[code]

[2016-03-17 19:28] seanpdoyle commented on #417
@wireframe @klaustopher could you try the latest version of the (now poorly named)  [`set-pipefail`](https://github.com/thoughtbot/ember-cli-rails/pull/418) branch?

It uses an alternative (hopefully cross platform) solution.

[2016-03-17 22:38] bajalovic opened #419 "Problems with building Docker image"
I am building my rails (+ember-cli-rails) app with Docker and having a problems with the bower.

Here is my Docker filer

[code]

And when I try to build a docker image (with `docker build -t my-app .`), I'm getting the following error:

[code]

I tracked it down and the command is executed in Shell

https://github.com/thoughtbot/ember-cli-rails/blob/6eceea8a9321e3c38e2425e5f39124912ad297af/lib/em

[2016-03-18 08:28] klaustopher commented on #417
see comment in the PR, it fails again :/

[2016-03-18 11:53] bajalovic commented on #419
I found a solution. I need to execute:

[code]
before `RUN bundle exec rake assets:precompile`

It is bower issue with docker (https://github.com/bower/bower/issues/1752)

[2016-03-18 11:54] #419 closed

[2016-03-18 15:17] seanpdoyle commented on #417
@klaustopher @wireframe could you try out the [`remove-tee`](https://github.com/thoughtbot/ember-cli-rails/pull/420) branch instead:

[code]

[2016-03-18 15:48] #417 closed

[2016-03-21 21:22] bajalovic commented on #380
I saw several questions with same error message (but regarding to Heroku) but I could not fix mine.

I built a docker container image, but the ember app can not be displayed:

[code]
Inside container there is a `RAILS_ENV=production` .

Here is my configuration:

[code]
[code]
I have `ember cli 2.3.0` and `ember-cli-rails-addon 0.7.0` installed.

My docker container is built by:

[code]

@seanpdoy

[2016-03-22 19:40] campbecf opened #424 "ember-cli-mirage, ember-cli-rails, and testing"
We need ember-cli-mirage turned off for rspec, development, and production. We do this through our environment.js

When we run `ember test` it runs under the test environment. This turns mirage on.

When we run `rspec` it runs under the ci environment. This turns mirage off, but now ember-cli-rails won't compile the index and calls `@build.wait!` which just seems to loop.

How would you advise to

[2016-03-22 21:12] seanpdoyle commented on #424
@campbecf have you read [this section of the README](https://github.com/thoughtbot/ember-cli-rails#rails_env)?

Does it apply to your use case?

[2016-03-22 21:20] campbecf commented on #424
We run our tests on CI through Rake, which seems to have a RAILS_ENV defined even when we run ember tests through it.

[2016-03-22 21:22] seanpdoyle commented on #424
@campbecf do you mean there is a new (non-`{test,development,production}`) environment?

Does `RAILS_ENV=CI`?

[2016-03-22 21:25] seanpdoyle commented on #424
[This block of code](https://github.com/thoughtbot/ember-cli-rails/blob/ef6e96398059d55c4917faff7f7578c6d2c9f116/lib/ember_cli/helpers.rb#L18-L31) might be what you need.

In `CI`, could you override [the EMBER_ENV environment variable](https://github.com/thoughtbot/ember-cli-rails#ember_env) to be whatever you'd like?

[2016-03-22 21:30] campbecf commented on #424
We already override the EMBER_ENV to 'ci' with rspec, but that doesn't compile an index.html due to not being a development or test environment. We could manually call a compile first, but doing that before every rspec run seems a little tedious.

[2016-03-22 21:33] seanpdoyle commented on #424
@campbecf what makes overriding `EMBER_ENV=ci` preferable to `EMBER_ENV=test` being inherited from `RAILS_ENV=test`?

Does this apply to when you run `rspec` locally (i.e. what would normally be `RAILS_ENV=test`)?

[2016-03-22 21:42] campbecf commented on #424
This is the relevant section of our environment.js (trimmed slightly)
[code]

Here is one of our rspec helpers:

[code]

What this allowed in version 0.3.x of ember-cli-rails was when we ran ember test it would execute under the test environment block in environment.js above. When we ran rspec it would execute under the 'ci' environment and default into the else block in environment js.

With embe

[2016-03-22 22:00] seanpdoyle commented on #424
What are the intentions behind this code block:

[code]

For what it's worth, `ember-cli-rails` will pass the entire shell environment along to the `ember` subprocess.

If you're trying to enable Mirage for `ember test`, but disable Mirage for `type: :feature` RSpec tests, what do you think about something like this:

[code]

[code]

If an approach like this doesn't work, please let me know.

[2016-03-23 14:12] bajalovic commented on #380
After debugging I noticed that gem is trying to load `Rails.root.join("tmp/ember-cli/apps/frontend/index.html")`, and inside my docker container I had an empty `frontend` directory.

This lead me to think about compilation of assets - then I saw that there is no ember-cli installed so I added

[code]

just after `RUN npm install -g bower`. As node version is 0.10.x, I had to add one more command

[2016-03-23 14:45] campbecf commented on #424
This appears to work, thanks!

[2016-03-23 14:45] #424 closed

[2016-03-23 16:41] seanpdoyle commented on #380
@bajalovic thanks for getting to the bottom of this!

`ember compile` not failing and raising an error is a known issue.

[A fix has been merged into `master`](https://github.com/thoughtbot/ember-cli-rails/commit/f57ce82de4e8326bf954ccf94d6c7cdcf8290194), but a release is blocked by https://github.com/thoughtbot/ember-cli-rails/pull/423#discussion_r56713884.

[2016-03-25 18:24] campbecf opened #425 "Content Security Policy Headers?"
How would you recommend sending Content Security Policy headers on the index.html request?

[2016-03-25 19:11] wireframe opened #426 "0.7.3 release/pre-release?"
any chance of getting a rubygem packaged with the latest changes to help kick the tires?  any other changes needed for the next release?

[2016-03-25 19:43] campbecf commented on #425
When using ember-cli-content-security-policy and ember-cli-rails it seems to work if you set the CSP to use meta tags, but not headers. Is this a conflict between the two packages?

[2016-03-25 20:06] seanpdoyle commented on #425
@campbecf `ember-cli-rails` doesn't currently support setting response headers for `index.html` requests -- I'm not sure how that should be implemented.

Do you know how `ember-cli-content-security-policy` handles that, since `ember build -e production` creates a directory of static files (therefore can't notify the serving server of response headers)?

In the short term, I'd recommend using meta

[2016-03-25 20:07] seanpdoyle commented on #426
a `0.7.3` or `0.8.0` release is currently blocked by https://github.com/thoughtbot/ember-cli-rails/pull/423.

If you'd like to try a "pre-release", you can use `master`, or the https://github.com/thoughtbot/ember-cli-rails/commit/ef6e96398059d55c4917faff7f7578c6d2c9f116 commit specifically.

[2016-03-25 20:09] campbecf commented on #425
@seanpdoyle I'm not aware, but I can look into it. Thanks for the response. I'll reopen if I find anything worthwhile.

[2016-03-25 20:09] #425 closed

[2016-03-26 01:17] seanpdoyle commented on #382
@chrisgre could you try the latest `master`?

Your issues might be related to https://github.com/thoughtbot/ember-cli-rails/issues/417 (`ember` commands were silently failing).

We've also [removed our dependency on the `tee` command](https://github.com/thoughtbot/ember-cli-rails/commit/f57ce82de4e8326bf954ccf94d6c7cdcf8290194).

[2016-03-26 01:48] seanpdoyle commented on #426
[`0.7.3` released](https://github.com/thoughtbot/ember-cli-rails/releases/tag/v0.7.3).

[2016-03-26 01:48] #426 closed

[2016-04-01 08:16] pwim opened #427 "Using ember-cli-rails without the Rack middleware"
This isn't so much an issue per se, but I'd like to introduce how I got ember-cli-rails working for us, as it might help someone else in a similar deployment situation.

Our deployment flow is the following:

1. Build the assets on our CI server
2. [AssetSync](https://github.com/AssetSync/asset_sync) puts the assets into a S3 bucket
3. [Oops](https://github.com/StemboltHQ/oops) packages our Rails

[2016-04-01 15:04] seanpdoyle commented on #427
@pwim thanks for your interested in modifying `ember-cli-rails`!

Please do submit a pull request, as we'd love to see what code changes are necessary to support your particular use case.

Some things to note before starting:

* Your use case sounds like a great candidate for an external deployment strategy gem. It'll be a lot easier to discuss the technical details of extracting it to an external

[2016-04-01 20:16] LingboTang opened #428 "ember install error: Errno::ENOENT: No such file or directory - chdir"
I got this error when I run `rake ember:install` followed by the tutorial.
The following code is how I set my ember.rb:
[code]
And how I set the routes.rb is the same as the tutorial.
I'm sure the path is correct and I built the ember app in the path before I installed ember-cli-rails.
What could be the problem?

[2016-04-01 20:28] seanpdoyle commented on #428
@LingboTang thanks for opening this issue!

Could you explain your use case?

Why are you building the ember app outside of `ember-cli-rails`?

Is `c.app :itemtracking` your ember application? Does it exist in `Rails.root.join("itemtracking")`?

Mentioning your `~/` directory could be a bad idea -- have you tried using a relative path?

What is the significance of pointing to the `/dist` directory

[2016-04-01 20:35] LingboTang commented on #428
I developed my web app frontend in item_tracking/client with ember, and backend in item_tracking/server with ruby on rails, their communication is done by jsonAPI currently. I wanted to use ember-cli-rails to deploy my app, so I built the ember production first, trying to serve the index.html by rails server.

[2016-04-01 20:39] LingboTang commented on #428
Now I changed it to:
[code]

But I still got the error

[2016-04-01 20:39] seanpdoyle commented on #428
Given this directory structure, try this configuration:

[code]

This goes against the utility of the `ember-cli-rails` library.

The idea here is that `ember-cli-rails` is responsible for communicating with and managing your Ember application.

Given your `server` and `client` directory structure, I'm assuming you aren't deploying to Heroku.

I recommend you consider integrating with [ember-cli-d

[2016-04-01 20:41] seanpdoyle commented on #428
I'm closing this issue, since it stems from configuring an invalid `path` value .

[2016-04-01 20:41] #428 closed

[2016-04-01 20:43] LingboTang commented on #428
That works, thank you

[2016-04-03 07:01] yemartin commented on #427
I have an issue where the root cause is related to this, but I don't think a third-party deployment gem as suggested by @seanpdoyle would work for it. So let me chime in here. The issue is:

**Out of the box, ember-cli-rails breaks rolling deployments on the Engine Yard platform.**

The issue happens as follows:

- On the rolling (no-downtime) deployment process on Engine Yard:
  - it uses a uniqu

[2016-04-03 16:07] Tonkpils commented on #169
I'm running into this issue, making changes to my rails code does not get updated on the next request.

I'm using Rails v5.0.0.beta3 and Spring

[2016-04-04 13:50] dchersey opened #429 "Receiving directory already being watched error for ember compiled assets"
Every time I start puma I receive a large number of warnings to the tune of

[code]

I am using Rails 5 beta 3. But I used to see these with my other rails 4 app too.

I am not using guard or any type of reloading strategy other than what is provided by ember. This is a pretty new app with only a few routes and no rails code yet.

The link in the error message is not very helpful. Have you seen th

[2016-04-04 16:23] seanpdoyle commented on #429
@dchersey I have not seen this particular error before, but I have a hunch that it has to do with [serving from a multi-process server](https://github.com/thoughtbot/ember-cli-rails#serving-from-multi-process-servers-in-development).

Could you try configuring Puma to use a single worker and a single thread in development?

[2016-04-06 00:24] LingboTang opened #430 "Can't view ember-cli application in "/""
I mounted my ember app to "/" as the guideline:

[code]
and `rake ember:install` is running without problem:
[code]
but when I navigate to "/" I can't see anything.

[2016-04-06 02:00] seanpdoyle commented on #430
@LingboTang thanks for opening this issue!

Are you [overriding the view](https://github.com/thoughtbot/ember-cli-rails#overriding-the-view)?

What about [overriding the controller](https://github.com/thoughtbot/ember-cli-rails#overriding-the-controller)?

If not, are there errors on the server?

What about errors in your browser about missing assets?

[2016-04-06 05:04] pedromtavares commented on #416
@klaustopher Could you give some insight into what you did to fix this problem? I have the exact same setup as you and ran into this exact problem. Tried rolling back to 0.3.5 as this change made by gem authors makes no sense to me but ran into even more issues.

I currently have a production app not working because of this, and unable to roll back :)

[2016-04-06 05:27] LingboTang commented on #430
When I run `rails s -e production`
I got:
[code]

[2016-04-06 07:36] klaustopher commented on #416
@pedromtavares I chagned the ownership of the file... It was due to someone installing some npm modules as root (which is a wrong thing to start with in the first place)...

`sudo chown -R user:group /home/user/.config`

[2016-04-06 12:03] henrymazza opened #431 "Helpers don't respect asset_host or digest config"
I’m using `ember deploy` to push the javascript to S3, but I need to serve it via a Rails template like:

[code]
but the only links it outputs, even in production, are:

[code]

How to make ember-cli-rails respect my asset_host and fingerprinting settings? I was able to force it with the <base> tag, but no luck with fingerprinting.

[2016-04-06 12:27] seanpdoyle commented on #431
Do you mean your Rails configurations or your EmberCLI configurations?

What is your ember-cli-deployment strategy?

How does that strategy serve the `index.html`?

If you're using the [Lightning Deploy Strategy](http://ember-cli.com/ember-cli-deploy/docs/v0.6.x/the-lightning-strategy/), checkout the [ember-cli-rails-deploy-redis](https://github.com/seanpdoyle/ember-cli-rails-deploy-redis) gem.

[2016-04-06 12:52] henrymazza commented on #431
My deploy strategy is building ember and uploading to S3 (not that complex).

The stylesheets are shared between Rails and Ember, that’s the initial reason I started to use ember-cli-rails and that’s why the `index.html` is served by Rails. Another problem is I can’t build ember on server, nodejs is just too slow and too big. Every deploy the system stutters. So it had to work:
[code]
My main diff

[2016-04-06 13:45] henrymazza commented on #431
Lightning really worth it, thanks for the tip.

[2016-04-06 13:45] #431 closed

[2016-04-06 17:28] pedromtavares commented on #416
@klaustopher You mean the nginx config file?

I tried a few things and managed to get this regex working on the location call of the nginx config file which redirected all assets to the public folder (the ember app is called frontend)

`location ~ ^/(images|javascripts|stylesheets|system|(**assets/[^vendor|frontend].*\.(js|css))**)  {
          root /home/deployer/dota/current/public;
	  gzip_stat

[2016-04-06 19:53] dchersey commented on #429
I was configured that way:
[code]

however I found that when I deleted the frontend/tmp directory the majority of the errors went away. They have not come back yet, even though the frontend build ran again.

I am getting only one of them, from somewhere in the rails 5 gem:

[code]

I'm going to keep watching this one and let you know if I can isolate it further.

[2016-04-06 20:40] seanpdoyle commented on #429
Thanks!

Our [Rails 5 support is still in the works](https://github.com/thoughtbot/ember-cli-rails/pull/400), so please share anything you find!

[2016-04-07 20:42] pedromtavares commented on #427
Thank you SO MUCH for this @pwim

I highly urge for the embler-cli-rails team adopt this strategy as some sort of plugin and mention it on the wiki, because for those of us who don't use the exact same deploy strategy that the gem supports, it is a complete nightmare to get things to work -- only this solution got things properly working, which to me was a huge regression considering the previous

[2016-04-08 13:53] seanpdoyle commented on #430
Where did this regex come from?

@LingboTang could you please provide some more context around how you have the gem configured for your project?

[2016-04-08 14:03] seanpdoyle commented on #427
Every new addition to the codebase takes time to both implement and maintain. The deployment strategy  described above is unlike the deployment processes that have influenced how this gem has been implemented.

Since my and other maintainers don't use that strategy, we won't be able to efficiently maintain it.

If [deploying to Heroku (via the configuration described in the README)][heroku] doesn'